@import "tailwindcss";

@theme {
    --font-display: "Lexend", "sans-serif";
    --font-sans: 'Inter', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display dark:text-gray-200;
}

p {
    @apply dark:text-gray-200;
}

li {
    @apply dark:text-gray-200;
}

button {
    @apply dark:text-gray-200;
}

/* .btn-primary {
    @apply btn bg-accent-400 hover:bg-accent-500 text-black shadow-md hover:shadow-lg;
}

.btn-secondary {
    @apply btn bg-primary-600 hover:bg-primary-700 text-white shadow-md hover:shadow-lg;
} */

.card {
    @apply bg-white dark:bg-[#0f172a] rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden border border-[#e2e8f0] dark:border-[#1e293b];
}


.text-transform-gradient {
    background: linear-gradient(90deg,
            #ffc07f,
            #ff8200 25.17%,
            #bbdef2 50%,
            #61d1ff 73.09%,
            #7b8fdd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}