---
import Layout from "../../layouts/Layout.astro";

import aboutImage from "../../assets/team-1-800x800Op.jpg";
import aboutImage2 from "../../assets/team-1-800x800_2Op.jpg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("layout.About.title")}>
  <main class="max-w-7xl mx-auto pt-36 pb-14 px-4 text-black min-h-screen">
    <!-- Texto de introducción centrado -->
    <div class="max-w-2xl text-center mx-auto px-4 mb-24">
      <p class="text-lg font-light leading-relaxed mt-6 mb-4">
        Nossa equipe tem 10 anos de experiência na indústria de Serviços On
        Site, colaborando com a implementação de ferramentas digitais e a
        otimização dos processos de nossos clientes.
      </p>
    </div>

    <!-- Sección de dos columnas con imágenes y textos -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="px-6">
        <img
          src={aboutImage.src}
          class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined"
          alt="image1"
          decoding="async"
          loading="lazy"
        />

        <div class="pt-6 text-center">
          <h6 class="text-xl font-serif font-bold leading-normal mt-0 mb-2">
            Missão
          </h6>
          <p class="text-base font-light leading-relaxed mt-0 mb-4">
            Somos uma empresa jovem peruana com a missão de levar os benefícios
            da economia da nuvem digital para as empresas com requisitos de
            gestão de serviços de Facilities Management e Gestão de Ativos.
          </p>
          {/* el otro div */}
        </div>
      </div>

      <div class="px-6">
        <img
          src={aboutImage2.src}
          class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined"
          alt="image2"
          decoding="async"
          loading="lazy"
        />

        <div class="pt-6 text-center">
          <h6 class="text-xl font-serif font-bold leading-normal mt-0 mb-2">
            Visão
          </h6>
          <p class="text-base font-light leading-relaxed mt-0 mb-4">
            Ser a primeira empresa de colaboração B2B especializada em fornecer
            serviços de software SaaS para FM na indústria de mineração peruana.
          </p>
          {/* el otro div */}
        </div>
      </div>
    </div>
  </main>
</Layout>
