---
import Layout from "../../layouts/Layout.astro";

import aboutImage from "../../assets/team-1-800x800Op.jpg";
import aboutImage2 from "../../assets/team-1-800x800_2Op.jpg";
---

<Layout title="Nosotros - FMCAMPS">

  <main class="max-w-7xl mx-auto pt-36 pb-14 px-4 text-black h-screen">
    <!-- Texto de introducción centrado -->
    <div class="max-w-2xl text-center mx-auto px-4 mb-24">
      <p class="text-lg font-light leading-relaxed mt-6 mb-4">
        Nuestro equipo cuenta con 10 años de experiencia en la industria de
        Servicios On Site colaborando con la implementación de herramientas
        digitales y la optimización de los procesos de nuestros clientes.
      </p>
    </div>

    <!-- Sección de dos columnas con imágenes y textos -->
    <div class="grid grid-cols-2 gap-4">
      <div class="px-6">
        <img
          src={aboutImage.src}
          class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined"
          alt="image1"
          decoding="async"
          loading="lazy"
        />

        <div class="pt-6 text-center">
          <h6 class="text-xl font-serif font-bold leading-normal mt-0 mb-2">
            Misión
          </h6>
          <p class="text-base font-light leading-relaxed mt-0 mb-4">
            Somos una empresa joven peruana con la misión de llevar los
            beneficios de la economía de la nube digital a las empresas con
            requerimientos de gestión de servicios de Facilities Management y
            Gestión de Activos.
          </p>
          {/* el otro div */}
        </div>
      </div>

      <div class="px-6">
        <img
          src={aboutImage2.src}
          class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined"
          alt="image2"
          decoding="async"
          loading="lazy"
        />

        <div class="pt-6 text-center">
          <h6 class="text-xl font-serif font-bold leading-normal mt-0 mb-2">
            Visión
          </h6>
          <p class="text-base font-light leading-relaxed mt-0 mb-4">
            Ser la primera empresa de colaboración B2B especializada en brindar
            servicios de software SaaS para FM en la industria minera peruana.
          </p>
          {/* el otro div */}
        </div>
      </div>
    </div>
  </main>

</Layout>
