---
import Layout from "../../layouts/Layout.astro";
import HeroSection from "../../components/HeroSection.astro";
import ContactForm from "../../components/ContactForm.astro";

---

<Layout title="Contacto a FMCAMPS">

    <main>
        <HeroSection
            title="CONTACTANOS"
            description="Estamos aqui para ayudarte con cualquier pregunta que tengas sobre nuestros servicios."
        />
        <ContactForm />
    </main>

</Layout>
