---
import Layout from "../../layouts/Layout.astro";
import HeroSection from "../../components/HeroSection.astro";
import ContactForm from "../../components/ContactForm.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("layout.Contact.title")}>

    <main>
        <HeroSection
        title={t("Contact.Hero.Seccion")}
        description={t("Contact.Hero.Seccion.Description")}
        />
        <ContactForm />
    </main>

</Layout>
