---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="cookies">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">
            &Uacute;ltima atualiza&ccedil;&atilde;o: 16 de maio de 2022
        </p>
        <p class="justify">&nbsp;</p>
        <h2>POL&Iacute;TICA DE COOKIES DA &ldquo;FMCAMPS&rdquo;</h2>
        <p class="justify">
            Abaixo encontrar&aacute; a Pol&iacute;tica de Cookies do
            s&iacute;tio Web <a href="https://www.fmcamps.com"
                >www.fmcamps.com</a
            > (doravante, a &ldquo;<u>Plataforma</u>&rdquo;), que, de acordo com
            a Pol&iacute;tica de Privacidade e os Termos e
            Condi&ccedil;&otilde;es, formam um contrato entre <strong
                >FMCAMPS S.A.C.</strong
            >,com o RUC N&deg; 20608949225 (doravante, &ldquo;<u>FMCAMPS</u
            >&rdquo;) e o cliente e/ou utilizador (doravante, o &ldquo;<u
                >Utilizador</u
            >
            &rdquo;).
        </p>

        <ol>
            <li>
                <strong>
                    O que s&atilde;o cookies e porque &eacute; que os
                    utilizamos?
                </strong>
            </li>
        </ol>

        <p class="justify">
            Os cookies s&atilde;o ficheiros de texto ou meios de armazenamento
            local, que s&atilde;o colocados no seu computador por
            aplica&ccedil;&otilde;es ou s&iacute;tios Web que visita. Os cookies
            s&atilde;o utilizados para nos ajudar a melhorar a sua
            experi&ecirc;ncia quando utiliza a nossa Plataforma.
        </p>

        <p class="justify">
            As informa&ccedil;&otilde;es que recolhemos dos cookies s&atilde;o
            utilizadas para:
        </p>

        <ul>
            <li>
                Ajudar a nossa plataforma a recordar as suas prefer&ecirc;ncias.
            </li>
            <li>
                Ajudar a melhorar a funcionalidade de pesquisa de
                informa&ccedil;&otilde;es.
            </li>
            <li>Ajudar a monitorizar o desempenho da nossa Plataforma.</li>
        </ul>
        <p class="justify">
            A Plataforma n&atilde;o utiliza cookies para o identificar
            pessoalmente.
        </p>

        <ol start="2">
            <li>
                <strong>
                    Aceita&ccedil;&atilde;o da utiliza&ccedil;&atilde;o de
                    cookies
                </strong>
            </li>
        </ol>

        <p class="justify">
            Se navegar na nossa Plataforma, est&aacute; a aceitar a
            utiliza&ccedil;&atilde;o de cookies nas condi&ccedil;&otilde;es
            definidas na presente Pol&iacute;tica de Cookies. Esta
            pol&iacute;tica pode ser actualizada, pelo que o convidamos a
            rev&ecirc;-la regularmente.
        </p>

        <ol start="3">
            <li>
                <strong>Gest&atilde;o de cookies</strong>
            </li>
        </ol>

        <p class="justify">
            Os browsers mais populares t&ecirc;m op&ccedil;&otilde;es de
            configura&ccedil;&atilde;o e funcionalidades de seguran&ccedil;a que
            permitem impedir a instala&ccedil;&atilde;o de cookies e/ou outros
            sistemas de recolha de dados de navega&ccedil;&atilde;o no seu
            dispositivo. O utilizador pode configurar o seu browser para
            rejeitar cookies, mas isso pode bloquear certas funcionalidades ou
            limitar o acesso a alguns conte&uacute;dos do nosso site.
        </p>

        <p class="justify">
            Pode consultar os passos para desativar a instala&ccedil;&atilde;o
            de cookies nas sec&ccedil;&otilde;es &ldquo;Ajuda&rdquo; das
            p&aacute;ginas web de cada navegador. Por exemplo, para bloquear os
            cookies no Chrome, siga estes passos: Defini&ccedil;&otilde;es -&gt;
            Privacidade e seguran&ccedil;a -&gt; Cookies e outros dados do
            s&iacute;tio-&gt; Bloquear cookies.
        </p>

        <ol start="4">
            <li>
                <strong>Tipos de cookies que utilizamos</strong>
            </li>
        </ol>

        <p class="justify">A Plataforma utiliza os seguintes cookies:</p>

        <p class="justify">
            <strong>Cookies pr&oacute;prias:</strong>
        </p>
        <ul>
            <li>
                Cookies de sess&atilde;o: Trata-se de um tipo de cookie
                concebido para recolher e armazenar dados enquanto o utilizador
                acede a um s&iacute;tio Web, bem como para acompanhar as
                actividades na Plataforma e os dados de navega&ccedil;&atilde;o.
                A sua experi&ecirc;ncia na Plataforma ser&aacute; adaptada em
                fun&ccedil;&atilde;o dos algoritmos e dos dados que ser&atilde;o
                recolhidos.
            </li>
            <li>
                Cookies t&eacute;cnicos e funcionais: S&atilde;o estritamente
                necess&aacute;rios para navegar em{" "}
                <a href="https://www.fmcamps.com">www.fmcamps.com</a>e utilizar
                as suas diferentes op&ccedil;&otilde;es ou servi&ccedil;os.
            </li>
        </ul>

        <p class="justify">
            <strong>Cookies de terceiros:</strong>
        </p>
        <ul>
            <li>
                Cookies de an&aacute;lise: S&atilde;o utilizados para analisar
                os h&aacute;bitos de navega&ccedil;&atilde;o dos Utilizadores,
                com o objetivo de otimizar as funcionalidades e a
                manuten&ccedil;&atilde;o t&eacute;cnica e operacional da
                Plataforma e garantir o melhor servi&ccedil;o poss&iacute;vel.
            </li>
        </ul>

        <p class="justify">
            Por &uacute;ltimo, indicamos que, no caso de um Utilizador bloquear
            os cookies no seu navegador, poder&aacute; continuar a navegar na
            Plataforma, mas &eacute; poss&iacute;vel que alguns servi&ccedil;os
            n&atilde;o estejam dispon&iacute;veis, limitando a experi&ecirc;ncia
            de navega&ccedil;&atilde;o.
        </p>
    </article>
</Layout>
