---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="privacy">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
    <p class="justify pt-10">
        &Uacute;ltima atualiza&ccedil;&atilde;o: 16 de maio de 2022
      </p>
      <p class="justify">&nbsp;</p>
      <h2>POL&Iacute;TICA DE PRIVACIDADE DE &ldquo;FMCAMPS&rdquo;</h2>
      <ol>
        <li>
          <strong>Introdu&ccedil;&atilde;o</strong>
        </li>
      </ol>
      <p class="justify">
        Abaixo encontrar&aacute; a Pol&iacute;tica de Privacidade do Website{" "}
        <a href="https://www.fmcamps.com">www.fmcamps.com</a> (doravante, a
        &ldquo;<u>Plataforma</u>&rdquo;) que, juntamente com os Termos e
        Condi&ccedil;&otilde;es e a Pol&iacute;tica de Cookies, formam um
        contrato entre a <strong>FMCAMPS S.A.C.</strong>, com o RUC N&deg;
        20608949225 (doravante, &ldquo;<u>FMCAMPS</u>&rdquo;) e o cliente e/ou
        utilizador (doravante, o &ldquo;<u>Utilizador</u>&rdquo;).
      </p>

      <p class="justify">
        A FMCAMPS garante a m&aacute;xima confidencialidade e
        prote&ccedil;&atilde;o de todos os dados pessoais que os Utilizadores
        nos facultem atrav&eacute;s da utiliza&ccedil;&atilde;o da Plataforma
        para a utiliza&ccedil;&atilde;o dos servi&ccedil;os.
      </p>

      <ol start="2">
        <li>
          <strong> Objetivo e finalidade</strong>
        </li>
      </ol>

      <p class="justify">
        FMCAMPS est&aacute; consciente da elevada import&acirc;ncia da
        privacidade dos nossos Utilizadores e de todos aqueles que
        est&atilde;o interessados nos servi&ccedil;os e produtos oferecidos.
      </p>

      <p class="justify">
        Em conson&acirc;ncia com esta considera&ccedil;&atilde;o,
        comprometemo-nos a respeitar a sua privacidade e a proteger a
        confidencialidade da sua informa&ccedil;&atilde;o privada e dos seus
        dados pessoais. Por este motivo, atrav&eacute;s da presente
        Pol&iacute;tica de Privacidade, informamos os nossos Utilizadores
        sobre a finalidade e a forma como s&atilde;o recolhidos, processados e
        protegidos os dados pessoais fornecidos &agrave; FMCAMPS.
      </p>

      <p class="justify">
        A informa&ccedil;&atilde;o pessoal privada n&atilde;o inclui a
        informa&ccedil;&atilde;o que est&aacute; dispon&iacute;vel
        atrav&eacute;s de fontes acess&iacute;veis ao p&uacute;blico. Isto
        inclui meios de comunica&ccedil;&atilde;o electr&oacute;nicos,
        &oacute;pticos e outros meios tecnol&oacute;gicos destinados a
        fornecer informa&ccedil;&otilde;es ao p&uacute;blico e abertos
        &agrave; consulta geral, listas telef&oacute;nicas, jornais e
        revistas, redes sociais, listas profissionais, listas de
        jurisprud&ecirc;ncia an&oacute;nima, os Registos P&uacute;blicos
        administrados pela Superintend&ecirc;ncia Nacional de Registos
        P&uacute;blicos, bem como qualquer outro registo ou banco de dados
        qualificado como p&uacute;blico nos termos da lei, as entidades da
        Administra&ccedil;&atilde;o P&uacute;blica em rela&ccedil;&atilde;o
        &agrave; informa&ccedil;&atilde;o que deve ser entregue em
        aplica&ccedil;&atilde;o da Lei n.&ordm; 27806, Lei da
        Transpar&ecirc;ncia e do Acesso &agrave; Informa&ccedil;&atilde;o
        P&uacute;blica.
      </p>

      <ol start="3">
        <li>
          <strong>Legisla&ccedil;&atilde;o</strong>
        </li>
      </ol>

      <p class="justify">
        De acordo com a Lei n.&ordm; 29733 - Lei da Prote&ccedil;&atilde;o de
        Dados Pessoais (doravante, a &ldquo;Lei&rdquo;) e o seu Regulamento,
        aprovado pelo Decreto Supremo n.&ordm; 003-2013-JUS, entende-se por
        dados pessoais qualquer informa&ccedil;&atilde;o relativa a uma pessoa
        singular que a identifique ou a torne identific&aacute;vel
        atrav&eacute;s de meios suscet&iacute;veis de serem razoavelmente
        utilizados.
      </p>

      <p class="justify">
        Por outro lado, entende-se por tratamento de dados pessoais qualquer
        opera&ccedil;&atilde;o ou procedimento t&eacute;cnico, automatizado ou
        n&atilde;o, que permita a recolha, o registo, a
        organiza&ccedil;&atilde;o, a conserva&ccedil;&atilde;o, a
        preserva&ccedil;&atilde;o, a elabora&ccedil;&atilde;o, a
        modifica&ccedil;&atilde;o, a extra&ccedil;&atilde;o, a consulta, a
        utiliza&ccedil;&atilde;o, o bloqueio, o apagamento, a
        comunica&ccedil;&atilde;o por transmiss&atilde;o ou difus&atilde;o ou
        qualquer outra forma de tratamento que facilite o acesso, a
        correla&ccedil;&atilde;o ou a interconex&atilde;o de dados pessoais.
      </p>

      <p class="justify">
        A FMCAMPS desenvolve a sua pol&iacute;tica de tratamento de dados
        pessoais de acordo com os princ&iacute;pios orientadores constantes da
        Lei abaixo mencionada:
      </p>
      <ol>
        <li>
          Princ&iacute;pio da legalidade: a recolha dos dados pessoais dos
          nossos utilizadores por meios fraudulentos, desleais ou ilegais
          &eacute; rejeitada.
        </li>
        <li>
          Princ&iacute;pio do consentimento: o tratamento dos dados pessoais
          dos nossos utilizadores est&aacute; sujeito ao seu consentimento.
        </li>
        <li>
          Princ&iacute;pio da finalidade: os dados pessoais dos nossos
          utilizadores ser&atilde;o recolhidos para uma finalidade
          espec&iacute;fica, expl&iacute;cita e l&iacute;cita, e n&atilde;o
          ser&atilde;o alargados a qualquer outra finalidade que n&atilde;o
          tenha sido inequivocamente estabelecida como tal no momento da
          recolha.
        </li>
        <li>
          Princ&iacute;pio da proporcionalidade: todo o tratamento dos dados
          pessoais dos nossos utilizadores deve ser adequado, pertinente e
          n&atilde;o excessivo em rela&ccedil;&atilde;o &agrave; finalidade
          para a qual foram recolhidos.
        </li>
        <li>
          Princ&iacute;pio da qualidade: os dados pessoais devem ser
          verdadeiros, exactos e, na medida do poss&iacute;vel, actualizados,
          necess&aacute;rios, pertinentes e adequados &agrave; finalidade para
          que foram recolhidos.
        </li>
        <li>
          Princ&iacute;pio da seguran&ccedil;a: devem ser conservados de forma
          a garantir a sua seguran&ccedil;a e apenas durante o tempo
          necess&aacute;rio para cumprir a finalidade do tratamento.
        </li>
      </ol>
      <p class="justify">
        A FMCAMPS e, se for caso disso, os subcontratantes disp&otilde;em de
        medidas de seguran&ccedil;a adequadas em fun&ccedil;&atilde;o do
        tratamento a efetuar, bem como da ado&ccedil;&atilde;o das medidas
        t&eacute;cnicas, organizativas e legais necess&aacute;rias para
        garantir a confidencialidade dos dados pessoais.
      </p>

      <ol start="4">
        <li>
          <strong> Informa&ccedil;&otilde;es sobre dados pessoais</strong>
        </li>
      </ol>

      <p class="justify">
        O Utilizador &eacute; informado e autoriza, livre e voluntariamente, a
        FMCAMPS a recolher, armazenar, conservar, aceder, utilizar, eliminar
        ou atualizar os seus dados pessoais para as suas actividades no Peru.
        Neste sentido, os dados pessoais a que a FMCAMPS tenha acesso como
        consequ&ecirc;ncia dos servi&ccedil;os que presta ou mediante o
        preenchimento de diferentes formul&aacute;rios, ser&atilde;o
        incorporados no correspondente &ldquo;Banco de Dados Pessoais&rdquo;,
        constituindo o conjunto organizado de dados pessoais dos utilizadores
        criado pela FMCAMPS e inscrito no Registo Nacional de
        Prote&ccedil;&atilde;o de Dados de Car&aacute;cter Pessoal.
      </p>

      <p class="justify">
        Os dados pessoais fornecidos pelos utilizadores ser&atilde;o tratados
        com total confidencialidade e s&oacute; poder&atilde;o ser conhecidos
        e tratados pelo pessoal da FMCAMPS que necessite de conhecer essa
        informa&ccedil;&atilde;o para a presta&ccedil;&atilde;o dos
        servi&ccedil;os oferecidos. A FMCAMPS compromete-se a manter o sigilo
        profissional relativamente a estes dados e garante o seu dever de os
        salvaguardar, adoptando todas as medidas de seguran&ccedil;a
        necess&aacute;rias. A autoriza&ccedil;&atilde;o n&atilde;o ser&aacute;
        exigida quando os dados pessoais forem necess&aacute;rios para a
        execu&ccedil;&atilde;o de uma rela&ccedil;&atilde;o contratual em que
        o titular dos dados pessoais seja parte.
      </p>

      <p class="justify">
        Caso os dados registados se revelem inexactos, no todo ou em parte, ou
        incompletos, a FMCAMPS poder&aacute; actualiz&aacute;-los e/ou
        substitu&iacute;-los pelos correspondentes dados rectificados ou
        completados.
      </p>

      <p class="justify">
        Os dados pessoais solicitados aos utilizadores s&atilde;o dados
        b&aacute;sicos de contacto e s&atilde;o adequados, pertinentes e
        n&atilde;o excessivos em rela&ccedil;&atilde;o &agrave; finalidade
        para a qual s&atilde;o recolhidos.
      </p>

      <ol start="5">
        <li>
          <strong> Objetivo do tratamento de dados pessoais </strong>
        </li>
      </ol>

      <p class="justify">
        Todos os dados recolhidos ser&atilde;o utilizados pela FMCAMPS para:
      </p>

      <p class="justify">
        Prestar adequadamente a gest&atilde;o de servi&ccedil;os On Site com
        m&oacute;dulos focados na manuten&ccedil;&atilde;o de campos e
        equipamentos mineiros - mas n&atilde;o se limitando a isso -
        atrav&eacute;s da utiliza&ccedil;&atilde;o do software denominado
        &ldquo;FMCAMPS&rdquo;. Al&eacute;m disso, os dados pessoais
        ser&atilde;o utilizados para efetuar um diagn&oacute;stico e
        corre&ccedil;&atilde;o dos Servi&ccedil;os e outras ofertas da
        Empresa.
      </p>

      <p class="justify">
        Nesse sentido, os dados pessoais solicitados para a
        presta&ccedil;&atilde;o dos servi&ccedil;os descritos no
        par&aacute;grafo imediatamente anterior s&atilde;o:
      </p>

      <ul>
        <li>Nome e apelido,</li>
        <li>D.N.I./C.E./Passaporte,</li>
        <li>R.U.C.,</li>
        <li>Data de nascimento,</li>
        <li>sexo,</li>
        <li>Idade,</li>
        <li>Endere&ccedil;o (domic&iacute;lio),</li>
        <li>N&uacute;mero de telefone de contacto,</li>
        <li>Endere&ccedil;o eletr&oacute;nico pessoal,</li>
        <li>Endere&ccedil;o eletr&oacute;nico profissional,</li>
        <li>Imagem (fotografia do rosto),</li>
        <li>Cargo (responsabilidade),</li>
        <li>Especialidade profissional</li>
        <li>Empresa,</li>
        <li>Custo por homem/hora,</li>
        <li>Centro de custos,</li>
        <li>&Aacute;rea de trabalho,</li>
        <li>Tamanhos de roupa e cal&ccedil;ado,</li>
        <li>Forma&ccedil;&atilde;o,</li>
        <li>Validade do cart&atilde;o m&eacute;dico.</li>
      </ul>

      <p class="justify">
        Os dados pessoais ser&atilde;o eliminados quando deixarem de ser
        necess&aacute;rios para os fins para que foram recolhidos. No entanto,
        ser&atilde;o conservados durante o per&iacute;odo em que a FMCAMPS
        possa ser responsabilizada por eventuais responsabilidades decorrentes
        desta rela&ccedil;&atilde;o com os utilizadores. N&atilde;o
        ser&aacute; considerado incompat&iacute;vel o tratamento posterior
        para fins hist&oacute;ricos, estat&iacute;sticos ou
        cient&iacute;ficos.
      </p>

      <ol start="6">
        <li>
          <strong> Livro de reclama&ccedil;&otilde;es</strong>
        </li>
      </ol>

      <p class="justify">
        Da mesma forma, o Utilizador autoriza expressamente a FMCAMPS, quando
        utilizar o livro de reclama&ccedil;&otilde;es, a tratar os seus dados
        para satisfazer as necessidades do referido procedimento, bem como,
        uma vez conclu&iacute;do o procedimento de reclama&ccedil;&atilde;o,
        para satisfazer as necessidades decorrentes de qualquer processo ou
        procedimento judicial, administrativo ou arbitral que possa surgir no
        futuro em rela&ccedil;&atilde;o &agrave; reclama&ccedil;&atilde;o
        apresentada pelo Utilizador, e para satisfazer qualquer
        inspe&ccedil;&atilde;o da autoridade competente em
        rela&ccedil;&atilde;o ao tratamento de dados pessoais.
      </p>

      <p class="justify">
        Os dados recolhidos atrav&eacute;s do livro de
        reclama&ccedil;&otilde;es ser&atilde;o armazenados na base de dados
        &ldquo;Livro de Reclama&ccedil;&otilde;es&rdquo; propriedade da
        FMCAMPS.
      </p>

      <p class="justify">
        Em consequ&ecirc;ncia das finalidades acima descritas, os dados
        ser&atilde;o conservados por tempo indeterminado. Para todos os
        efeitos, entende-se que este prazo m&aacute;ximo de
        conserva&ccedil;&atilde;o e tratamento de dados pessoais &eacute; um
        direito da FMCAMPS e n&atilde;o uma obriga&ccedil;&atilde;o, pelo que
        a FMCAMPS poder&aacute; optar por conservar e/ou tratar os mesmos por
        per&iacute;odos inferiores. Tal n&atilde;o prejudica, em caso algum, o
        direito de o utilizador revogar, a todo o tempo, o seu consentimento
        para o tratamento dos seus dados pessoais, nos termos permitidos por
        lei e conforme detalhado pela FMCAMPS na presente Pol&iacute;tica de
        Privacidade.
      </p>

      <ol start="7">
        <li>
          <strong> Seguran&ccedil;a dos dados pessoais </strong>
        </li>
      </ol>

      <p class="justify">
        Em cumprimento da normativa em vigor, a Diretiva de Seguran&ccedil;a
        da Informa&ccedil;&atilde;o aprovada pela Resolu&ccedil;&atilde;o de
        Dire&ccedil;&atilde;o n&ordm; 019-2013-JUS/DGPDP da Autoridade
        Nacional de Prote&ccedil;&atilde;o de Dados Pessoais, a FMCAMPS
        adoptou as medidas t&eacute;cnicas e organizativas de seguran&ccedil;a
        e confidencialidade adequadas &agrave; categoria de dados pessoais,
        necess&aacute;rias para manter o n&iacute;vel de seguran&ccedil;a
        requerido, com o objetivo de evitar, na medida do poss&iacute;vel, a
        altera&ccedil;&atilde;o, perda ou tratamento ou acesso n&atilde;o
        autorizado que possa afetar a integridade, confidencialidade e
        disponibilidade da informa&ccedil;&atilde;o.
      </p>

      <p class="justify">
        No entanto, a transmiss&atilde;o de informa&ccedil;&atilde;o
        atrav&eacute;s de redes de comunica&ccedil;&atilde;o e da Internet
        n&atilde;o &eacute; totalmente segura, pelo que, embora a FMCAMPS
        envide os seus melhores esfor&ccedil;os para proteger os dados
        pessoais, n&atilde;o pode garantir a seguran&ccedil;a desses dados
        durante o seu tr&acirc;nsito para a Plataforma. Toda a
        informa&ccedil;&atilde;o fornecida pelos utilizadores da Internet
        atrav&eacute;s da Internet &eacute; enviada por sua conta e risco.
      </p>

      <ol start="8">
        <li>
          <strong>
            {" "}
            Exerc&iacute;cio dos direitos de acesso,
            retifica&ccedil;&atilde;o, cancelamento e oposi&ccedil;&atilde;o
          </strong>
        </li>
      </ol>

      <p class="justify">
        Os utilizadores que tenham fornecido dados pessoais &agrave; FMCAMPS
        poder&atilde;o contactar esta &uacute;ltima para exercer os seus
        direitos de informa&ccedil;&atilde;o, acesso,
        atualiza&ccedil;&atilde;o, inclus&atilde;o, retifica&ccedil;&atilde;o
        e elimina&ccedil;&atilde;o, para impedir o fornecimento dos seus dados
        pessoais, para se opor ao tratamento ou ao tratamento objetivo dos
        dados, nos termos previstos na legisla&ccedil;&atilde;o em vigor.
        Estes direitos s&oacute; podem ser exercidos pelo titular dos dados
        pessoais ou seu procurador, nos termos da lei.
      </p>

      <p class="justify">
        Para exercer estes direitos, os utilizadores devem contactar o
        seguinte endere&ccedil;o de correio eletr&oacute;nico
        soporte@fmcamps.com, com a refer&ecirc;ncia
        &ldquo;Prote&ccedil;&atilde;o de Dados Pessoais&rdquo;, especificando
        os seus dados, acreditando a sua identidade e os motivos do seu
        pedido. A pessoa que assina o pedido deve anexar uma c&oacute;pia
        simples dos documentos comprovativos da identidade do titular (Bilhete
        de Identidade Nacional ou documento equivalente) ou, se for caso
        disso, do procurador, bem como uma c&oacute;pia simples da
        procura&ccedil;&atilde;o outorgada por not&aacute;rio, quando
        aplic&aacute;vel.
      </p>

      <p class="justify">
        De igual modo, a FMCAMPS informa os seus utilizadores da
        exist&ecirc;ncia de vias administrativas para fazer valer os seus
        direitos perante a Autoridade Nacional de Prote&ccedil;&atilde;o de
        Dados ou de vias jurisdicionais perante o Poder Judicial para efeitos
        da correspondente a&ccedil;&atilde;o de habeas data.
      </p>

      <ol start="9">
        <li>
          <strong>
            {" "}
            Transfer&ecirc;ncia internacional de dados pessoais{" "}
          </strong>
        </li>
      </ol>

      <p class="justify">
        A FMCAMPS utiliza servidores de terceiros para o armazenamento de
        bases de dados por meios tecnol&oacute;gicos, pelo que se
        verificar&aacute; um fluxo transfronteiri&ccedil;o com a empresa
        Amazon Web Services Inc., identificada com o E.I.N. N&deg; 204938068,
        um fornecedor de servi&ccedil;os de alojamento web localizado nos
        Estados Unidos da Am&eacute;rica, conforme indicado nos respectivos
        registos de bases de dados pessoais.
      </p>

      <p class="justify">
        Estes dados pessoais podem tamb&eacute;m ser comunicados a organismos
        administrativos, autoridades judiciais e/ou policiais, desde que tal
        esteja previsto na lei.
      </p>
      <ol start="10">
        <li>
          <strong> Outros</strong>
        </li>
      </ol>
      <p class="justify">
        Tratando-se de uma ferramenta virtual, que n&atilde;o permite o
        contacto f&iacute;sico direto entre a FMCAMPS e o titular dos dados
        pessoais, a FMCAMPS proceder&aacute; &agrave; recolha e ao tratamento
        dos dados pessoais com base na presun&ccedil;&atilde;o de boa
        f&eacute; de que a pessoa que fornece os dados &eacute; maior de
        idade, domina a l&iacute;ngua espanhola, goza de boa sa&uacute;de
        mental, tem plena capacidade civil e &eacute; o titular dos dados
        pessoais ou actua como representante do titular dos dados fornecidos,
        no caso de os dados serem propriedade de terceiros.
      </p>

      <p class="justify">
        Se tiver alguma d&uacute;vida sobre esta Pol&iacute;tica de
        Privacidade, contacte-nos atrav&eacute;s do seguinte endere&ccedil;o
        eletr&oacute;nico:{" "}
        <a href="mailto:soporte@fmcamps.com">soporte@fmcamps.com</a>
      </p>

      <ol start="11">
        <li>
          <strong>
            {" "}
            Validade e altera&ccedil;&atilde;o da presente pol&iacute;tica de
            prote&ccedil;&atilde;o de dados pessoais{" "}
          </strong>
        </li>
      </ol>

      <p class="justify">
        A Pol&iacute;tica de Prote&ccedil;&atilde;o de Dados Pessoais da
        FMCAMPS est&aacute; em constante atualiza&ccedil;&atilde;o,
        reservando-se a FMCAMPS o direito de modificar a sua pol&iacute;tica
        em caso de altera&ccedil;&atilde;o da legisla&ccedil;&atilde;o em
        vigor, da doutrina, da jurisprud&ecirc;ncia ou dos seus
        pr&oacute;prios crit&eacute;rios de neg&oacute;cio. Caso seja
        efectuada alguma altera&ccedil;&atilde;o a esta pol&iacute;tica, o
        novo texto ser&aacute; publicado neste Website.
      </p>

      <p class="justify">
        Todos os utilizadores s&atilde;o encorajados a rever periodicamente
        esta Pol&iacute;tica de Privacidade, que pode ser encontrada no
        s&iacute;tio Web.{" "}
        <a href="https://www.fmcamps.com/br/privacy">
          www.fmcamps.com/br/privacy.
        </a>
      </p>
    </article>
</Layout>
