---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("layout.Service.title")}>
    <Navbar />
    <section class="w-full pt-36 pb-14">
        <div
            class="bg-white dark:bg-gray-900 rounded-lg flex flex-row items-center content-center py-8 mx-auto leading-6 border-0 border-gray-300 border-solid max-w-7xl px-16"
        >
            <!-- Imagem -->
            <div
                class="box-border w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10"
            >
                <div>
                    <img
                        src="https://cdn.devdojo.com/images/december2020/productivity.png"
                        class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"
                        alt="/"
                        width="376"
                        height="376"
                        decoding="async"
                        loading="lazy"
                    />
                </div>
            </div>

            <!-- Conteúdo -->
            <div
                class="box-border order-first w-full border-solid md:w-1/2 md:pl-10 md:order-none"
            >
                <h2
                    class="text-xl font-semibold leading-tight border-0 lg:text-3xl md:text-2xl"
                >
                    Gestão de Ordens de Serviço
                </h2>
                <p
                    class="pt-4 pb-8 m-0 leading-7 dark:text-gray-200 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg"
                >
                    Manutenção preventiva, corretiva, inspeções, adicionais e
                    rotineiras.
                </p>
                <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Maximize produtividade e crescimento
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Supere sua concorrência
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Aprenda as melhores técnicas
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="box-border flex flex-col rounded-lg items-center content-center px-8 py-8 mx-auto mt-2 leading-6 border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16"
        >
            <!-- Seção 2 -->
            <div
                class="box-border w-full border-solid md:w-1/2 md:pl-6 xl:pl-32"
            >
                <h2
                    class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl"
                >
                    Gestão de Estoques
                </h2>
                <p
                    class="pt-4 pb-8 m-0 leading-7 dark:text-gray-200 border-0 border-gray-300 sm:pr-10 lg:text-lg"
                >
                    Estoque atualizado de materiais, ferramentas e consumíveis.
                    Inventários avaliados por família. Kardex diário, semanal,
                    mensal, por localização e atividade.
                </p>
                <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Fluxo de trabalho automatizado de gerenciamento de
                        tarefas
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Análises detalhadas para seus dados
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Algumas integrações incríveis
                    </li>
                </ul>
            </div>
            <!-- Fim do Conteúdo -->

            <!-- Imagem -->
            <div
                class="box-border w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2"
            >
                <img
                    src="https://cdn.devdojo.com/images/december2020/settings.png"
                    class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32"
                    alt="/"
                    width="376"
                    height="376"
                    decoding="async"
                    loading="lazy"
                />
            </div>
        </div>

        <!-- Seção 3 -->
        <div
            class="bg-white dark:bg-gray-900 rounded-lg flex flex-col items-center content-center px-8 py-8 mx-auto leading-6 border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16"
        >
            <!-- Imagem -->
            <div
                class="box-border w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10"
            >
                <img
                    src="https://cdn.devdojo.com/images/december2020/productivity.png"
                    class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"
                    alt="/"
                    width="376"
                    height="376"
                    decoding="async"
                    loading="lazy"
                />
            </div>

            <!-- Conteúdo -->
            <div
                class="box-border order-first w-full border-solid md:w-1/2 md:pl-10 md:order-none"
            >
                <h2
                    class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl"
                >
                    Gestão de Pessoal
                </h2>
                <p
                    class="pt-4 pb-8 m-0 leading-7 dark:text-gray-200 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg"
                >
                    Técnicos, supervisores, líderes de equipe e gerentes.
                </p>
                <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Maximize produtividade e crescimento
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Supere sua concorrência
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Aprenda as melhores técnicas
                    </li>
                </ul>
            </div>
            <!-- Fim do Conteúdo -->
        </div>

        <!-- Seção 4 -->
        <div
            class="box-border flex flex-col rounded-lg items-center content-center px-8 py-8 mx-auto mt-2 leading-6 border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16"
        >
            <!-- Conteúdo -->
            <div
                class="box-border w-full border-solid md:w-1/2 md:pl-6 xl:pl-32"
            >
                <h2
                    class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl"
                >
                    Gestão de Inventário
                </h2>
                <p
                    class="pt-4 pb-8 m-0 leading-7 dark:text-gray-200 border-0 border-gray-300 sm:pr-10 lg:text-lg"
                >
                    Instalações, equipamentos e ativos por centro de custo que
                    necessitam de ficha de vida para controle e rastreamento.
                </p>
                <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Fluxo de trabalho automatizado de gerenciamento de
                        tarefas
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Análises detalhadas para seus dados
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span> Algumas integrações incríveis
                    </li>
                </ul>
            </div>
            <!-- Fim do Conteúdo -->

            <!-- Imagem -->
            <div
                class="box-border w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2"
            >
                <img
                    src="https://cdn.devdojo.com/images/december2020/settings.png"
                    class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32"
                    alt="/"
                    width="376"
                    height="376"
                    decoding="async"
                    loading="lazy"
                />
            </div>
        </div>

        <!-- Section 5 -->
        <div
            class="bg-white dark:bg-gray-900 rounded-lg flex flex-col items-center content-center px-8 py-8 mx-auto leading-6 border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16"
        >
            <!-- Image -->
            <div
                class="box-bo.rder w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10"
            >
                <img
                    src="https://cdn.devdojo.com/images/december2020/productivity.png"
                    class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"
                    alt="/"
                    width="376"
                    height="376"
                    decoding="async"
                    loading="lazy"
                />
            </div>

            <div
                class="box-border order-first w-full border-solid md:w-1/2 md:pl-10 md:order-none"
            >
                <h2
                    class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl"
                >
                    Gestão de Plantas de Água
                </h2>
                <p
                    class="pt-4 pb-8 m-0 leading-7 dark:text-gray-200 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg"
                >
                    Operação e manutenção de plantas de tratamento de água
                    potável e residual
                </p>
                <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span>{" "}
                        Registro diário das leituras de parâmetros.
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span>{" "}
                        Gráficos de evolução histórica dos parâmetros.
                    </li>
                    <li
                        class="box-border py-1 pl-0 text-left dark:text-gray-400 border-solid"
                    >
                        <span
                            class="inline-flex items-center justify-center w-6 h-6 mr-2 text-white bg-yellow-300 rounded-full"
                        >
                            <span class="text-sm font-bold">✓</span>
                        </span>{" "}
                        Emissão de alerta configurável via WhatsApp.
                    </li>
                </ul>
            </div>
        </div>
        <!-- End  Content -->
    </section>

    <!-- <Footer /> -->
</Layout>
