---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="terms & condition">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">
            &Uacute;ltima atualiza&ccedil;&atilde;o: 16 de maio de 2022
        </p>
        <p class="justify">&nbsp;</p>
        <h2>
            TERMOS E CONDI&Ccedil;&Otilde;ES DE UTILIZA&Ccedil;&Atilde;O DE
            &ldquo;FMCAMPS&rdquo;
        </h2>
        <p class="justify">
            Abaixo encontrar&aacute; os Termos e Condi&ccedil;&otilde;es do
            website {" "}
            <a href="https://www.fmcamps.com">www.fmcamps.com</a> (doravante, a &ldquo;<u
                >Plataforma</u
            >&rdquo;) que, de acordo com as Pol&iacute;ticas de Privacidade e
            Cookies, formam um contrato entre a {" "}
            <strong>FMCAMPS S.A.C.</strong>, com o RUC N&deg; 20608949225
            (doravante, &ldquo;<u>FMCAMPS</u>&rdquo;) e o cliente e/ou
            utilizador (doravante, o &ldquo;<u>Utilizador</u>&rdquo;).
        </p>

        <ol start="1">
            <li>
                <strong>Descri&ccedil;&atilde;o </strong>
            </li>
        </ol>

        <p class="justify">
            A FMCAMPS &eacute; uma empresa que det&eacute;m o direito de
            propriedade sobre o software denominado &ldquo;FMCAMPS&rdquo;
            (doravante, o &ldquo;<u>Software</u>&rdquo;), que &eacute; um
            sistema especializado em processos de gest&atilde;o de
            servi&ccedil;os On Site com m&oacute;dulos direccionados para a
            manuten&ccedil;&atilde;o de campos, que gerem todo o ciclo de vida
            das ordens de trabalho, desde a sua rece&ccedil;&atilde;o e
            agendamento at&eacute; ao seu encerramento, e toda a
            informa&ccedil;&atilde;o dos processos adjacentes (os &ldquo;
            <u>Servi&ccedil;os</u>&rdquo;).
        </p>

        <p class="justify">
            O presente documento cont&eacute;m os termos e
            condi&ccedil;&otilde;es que regem as condi&ccedil;&otilde;es gerais
            de utiliza&ccedil;&atilde;o do s&iacute;tio Web, das p&aacute;ginas
            de f&atilde;s e de qualquer um dos seus subdom&iacute;nios e de cada
            uma das ferramentas dispon&iacute;veis atualmente ou no futuro.
        </p>

        <p class="justify">
            Aceita&ccedil;&atilde;o dos termos e condi&ccedil;&otilde;es.
        </p>

        <ol start="2">
            <li>
                <strong>
                    Aceptaci&oacute;n de los T&eacute;rminos y Condiciones
                </strong>
            </li>
        </ol>

        <p class="justify">
            A FMCAMPS atribuir&aacute; ao Utilizador uma conta na Plataforma (a
            &quot;
            <u>Conta</u>&quot;), atrav&eacute;s da qual o Utilizador
            poder&aacute; utilizar os Servi&ccedil;os que a FMCAMPS lhe venha a
            disponibilizar. Sem preju&iacute;zo do disposto no n&uacute;mero
            anterior, ao aceitar a atribui&ccedil;&atilde;o da Conta o
            Utilizador est&aacute; a aceitar os Termos e Condi&ccedil;&otilde;es
            e, por isso, compromete-se a cumprir o disposto nos mesmos.
        </p>

        <p class="justify">
            Por conseguinte, antes de realizar qualquer a&ccedil;&atilde;o na
            Plataforma, o utilizador deve ler atentamente todos os Termos e
            Condi&ccedil;&otilde;es, bem como as Pol&iacute;ticas de Privacidade
            e de Cookies e, se n&atilde;o concordar, deve abster-se de continuar
            a utilizar a Plataforma e/ou os Servi&ccedil;os. Caso
            contr&aacute;rio, o utilizador garante expressamente que:
        </p>

        <ul>
            <li>
                O utilizador aceita ficar vinculado aos presentes Termos e
                Condi&ccedil;&otilde;es de Utiliza&ccedil;&atilde;o e &agrave;s
                Pol&iacute;ticas de Privacidade e de Cookies, que s&atilde;o
                documentos vinculativos; e
            </li>
            <li>
                Que o utilizador tem capacidade para aceitar e ficar vinculado
                aos presentes Termos e Condi&ccedil;&otilde;es de
                Utiliza&ccedil;&atilde;o.
            </li>
        </ul>

        <ol start="3">
            <li>
                <strong>
                    Altera&ccedil;&atilde;o dos termos e condi&ccedil;&otilde;es
                </strong>
            </li>
        </ol>

        <p class="justify">
            A FMCAMPS reserva-se o direito de, periodicamente, proceder a
            altera&ccedil;&otilde;es aos Termos e Condi&ccedil;&otilde;es, bem
            como a qualquer informa&ccedil;&atilde;o neles incorporada por
            refer&ecirc;ncia, de forma a adapt&aacute;-los a novas regras e
            regulamentos que venham a ser emitidos periodicamente, ou por
            obriga&ccedil;&atilde;o legal ou contratual que assim o determine,
            sem preju&iacute;zo do direito de os modificar, se assim o entender,
            para os adaptar &agrave;s pr&aacute;ticas da ind&uacute;stria ou
            conveni&ecirc;ncia operacional.
        </p>

        <p class="justify">
            Quando forem efectuadas altera&ccedil;&otilde;es, a FMCAMPS
            informar&aacute; o utilizador atrav&eacute;s do seu website <a
                href="https://www.fmcamps.com">www.fmcamps.com</a
            >, bem como a data a partir da qual as altera&ccedil;&otilde;es
            entrar&atilde;o em vigor.
        </p>
        <p class="justify">
            O Utilizador compreende e aceita que a continua&ccedil;&atilde;o da
            utiliza&ccedil;&atilde;o dos Servi&ccedil;os ou da Plataforma
            ap&oacute;s a introdu&ccedil;&atilde;o de altera&ccedil;&otilde;es
            nos mesmos constitui a aceita&ccedil;&atilde;o expressa de tais
            modifica&ccedil;&otilde;es. Sem preju&iacute;zo do disposto no
            n&uacute;mero anterior, o Utilizador pode desvincular-se da FMCAMPS,
            devendo para o efeito enviar uma comunica&ccedil;&atilde;o a
            solicitar o cancelamento do seu registo como Utilizador no momento
            ou antes da entrada em vigor das novas altera&ccedil;&otilde;es
            implementadas.
        </p>

        <ol start="4">
            <li>
                <strong>Elegibilidade</strong>
            </li>
        </ol>

        <p class="justify">
            A Plataforma e os seus Servi&ccedil;os destinam-se a Utilizadores
            que sejam pessoas colectivas devidamente constitu&iacute;das no Peru
            ou no estrangeiro(doravante, &ldquo;
            <u>Pessoas Eleg&iacute;veis</u>&rdquo;).
        </p>

        <p class="justify">
            Ao utilizar a Plataforma, o Utilizador declara que cumpre os
            requisitos descritos no par&aacute;grafo imediatamente anterior e
            que aceita cumprir todos os Termos e Condi&ccedil;&otilde;es aqui
            previstos. A utiliza&ccedil;&atilde;o ou acesso &agrave; Plataforma
            por qualquer pessoa que n&atilde;o cumpra tais requisitos n&atilde;o
            &eacute; autorizada e constitui uma viola&ccedil;&atilde;o dos
            Termos e Condi&ccedil;&otilde;es, podendo a FMCAMPS tomar medidas ou
            san&ccedil;&otilde;es em fun&ccedil;&atilde;o de cada caso.
        </p>

        <ol start="5">
            <li>
                <strong>Processo de registo</strong>
            </li>
        </ol>

        <p class="justify">
            Os processos de registo mant&ecirc;m a confidencialidade da
            identidade dos Utilizadores, como resulta da Pol&iacute;tica de
            Privacidade. Qualquer atividade realizada na Plataforma com o
            endere&ccedil;o de correio eletr&oacute;nico fornecido pelo
            Utilizador ser&aacute; considerada leg&iacute;tima e realizada pelo
            Utilizador. O Utilizador &eacute; totalmente respons&aacute;vel pela
            veracidade dos dados introduzidos no processo de registo do
            Utilizador.
        </p>
        <p class="justify">
            O Utilizador &eacute; o &uacute;nico respons&aacute;vel por
            salvaguardar o nome e a palavra-passe do seu Utilizador na
            Plataforma. A FMCAMPS n&atilde;o tem acesso a esta palavra-passe e,
            caso o Utilizador a esque&ccedil;a ou corrompa, dever&aacute;
            primeiro seguir os passos para a sua recupera&ccedil;&atilde;o ou
            contactar a FMCAMPS para solicitar a gera&ccedil;&atilde;o de uma
            nova palavra-passe.
        </p>
        <p class="justify">
            O Utilizador reconhece que o correio eletr&oacute;nico &eacute; um
            elemento chave no registo e comunica&ccedil;&atilde;o com a FMCAMPS.
            O Utilizador &eacute; respons&aacute;vel por fornecer um
            endere&ccedil;o de correio eletr&oacute;nico v&aacute;lido e
            frequentemente utilizado e monitorizado e aceita que a FMCAMPS possa
            enviar comunica&ccedil;&otilde;es regulares para esse
            endere&ccedil;o.
        </p>

        <ol start="6">
            <li>
                <strong>Obriga&ccedil;&otilde;es dos utilizadores</strong>
            </li>
        </ol>

        <p class="justify">
            O Utilizador s&oacute; pode ter uma conta na Plataforma.
        </p>
        <p class="justify">
            Al&eacute;m disso, o Utilizador declara, reconhece e aceita que a
            utiliza&ccedil;&atilde;o da Plataforma &eacute; feita por sua conta
            e risco, isentando a FMCAMPS de qualquer responsabilidade,
            incluindo, sem limita&ccedil;&atilde;o, danos directos ou
            indirectos, perdas ou despesas decorrentes da Plataforma ou da sua
            utiliza&ccedil;&atilde;o.
        </p>
        <p class="justify">
            O Utilizador compromete-se a abster-se a todo o tempo de interferir
            ou tentar interferir com o normal funcionamento da Plataforma, seja
            por que meio for, incluindo, mas n&atilde;o se limitando, ao envio
            de v&iacute;rus inform&aacute;ticos em qualquer formato, ao
            desenvolvimento de actividades de spamming, hacking ou cracking, ou
            a qualquer outro meio expressamente proibido por qualquer
            disposi&ccedil;&atilde;o das Condi&ccedil;&otilde;es Gerais ou cujo
            efeito seja interferir, tentar interferir, danificar ou afetar o
            S&iacute;tio Web ou terceiros que utilizem ou acedam ao mesmo.
        </p>
        <p class="justify">
            Se o Utilizador violar qualquer um destes Termos e
            Condi&ccedil;&otilde;es ou qualquer outro acordo entre o Utilizador
            e a FMCAMPS, esta &uacute;ltima poder&aacute; cancelar o ID de
            Acesso do Utilizador, apagar o seu perfil e qualquer conte&uacute;do
            ou informa&ccedil;&atilde;o que tenha publicado na Plataforma e/ou
            proibir a sua utiliza&ccedil;&atilde;o da Plataforma (ou de qualquer
            parte, aspeto ou funcionalidade do servi&ccedil;o ou da Plataforma),
            em qualquer momento e &agrave; inteira discri&ccedil;&atilde;o da
            FMCAMPS, sem aviso pr&eacute;vio. Caso se verifique o cen&aacute;rio
            referido no presente par&aacute;grafo, a FMCAMPS n&atilde;o
            ser&aacute; obrigada a reembolsar ou reconhecer qualquer conceito
            correspondente aos Servi&ccedil;os contratados at&eacute; &agrave;
            data.
        </p>
        <p class="justify">
            No caso de o Utilizador violar a lei ou infringir os direitos de
            terceiros, a FMCAMPS tem o direito de fornecer, a pedido de qualquer
            autoridade leg&iacute;tima (tribunais, autoridades administrativas e
            for&ccedil;as policiais), qualquer informa&ccedil;&atilde;o que
            permita ou facilite a identifica&ccedil;&atilde;o do infrator.
        </p>
        <p class="justify">
            Em geral, o Utilizador compromete-se, nomeadamente, mas n&atilde;o
            exclusivamente, a
        </p>
        <ol>
            <ol type="a">
                <li>N&atilde;o utilizar a Plataforma para fins ilegais;</li>
                <li>
                    N&atilde;o utilizar a Plataforma em nome de outro
                    Utilizador;
                </li>
                <li>
                    N&atilde;o violar os direitos de propriedade intelectual,
                    nomeadamente sobre os sinais distintivos de que a FMCAMPS
                    &eacute; titular, ou as normas regulamentares relativas
                    &agrave; prote&ccedil;&atilde;o de dados pessoais;
                </li>
                <li>
                    N&atilde;o aceder &agrave;s contas de correio
                    eletr&oacute;nico de outros Utilizadores;
                </li>
                <li>N&atilde;o utilizar a Plataforma de forma fraudulenta;</li>
                <li>
                    N&atilde;o alterar ou modificar a Plataforma, contornando,
                    desactivando ou manipulando de outra forma as
                    fun&ccedil;&otilde;es da Plataforma;
                </li>
                <li>
                    N&atilde;o introduzir v&iacute;rus inform&aacute;ticos,
                    ficheiros defeituosos ou qualquer outro programa
                    inform&aacute;tico que possa causar danos ou
                    altera&ccedil;&otilde;es nos conte&uacute;dos ou sistemas da
                    Plataforma;
                </li>
                <li>
                    N&atilde;o fazer publicidade de bens ou servi&ccedil;os sem
                    o consentimento pr&eacute;vio da FMCAMPS:
                </li>
                <li>
                    N&atilde;o alojar, armazenar, divulgar, publicar, distribuir
                    ou partilhar imagens ou fotografias que recolham imagens ou
                    dados pessoais de terceiros sem ter obtido o devido
                    consentimento dos seus propriet&aacute;rios;
                </li>
                <li>
                    N&atilde;o alojar, armazenar, divulgar, publicar, distribuir
                    ou partilhar qualquer material ou informa&ccedil;&atilde;o
                    que seja ilegal, racista, xen&oacute;fobo, obsceno,
                    pornogr&aacute;fico, abusivo, difamat&oacute;rio, enganador,
                    fraudulento ou de qualquer forma contr&aacute;rio &agrave;
                    moral ou &agrave; ordem p&uacute;blica;
                </li>
                <li>
                    N&atilde;o utilizar a Plataforma para prejudicar, difamar,
                    intimidar ou danificar a autoimagem ou assediar outros
                    Utilizadores;
                </li>
                <li>
                    N&atilde;o alojar, armazenar, difundir, publicar, distribuir
                    ou partilhar quaisquer conte&uacute;dos que possam implicar
                    a interfer&ecirc;ncia il&iacute;cita ou a
                    viola&ccedil;&atilde;o, por qualquer forma, dos direitos
                    fundamentais &agrave; honra, &agrave; imagem e &agrave;
                    intimidade pessoal de terceiros e, em particular, de
                    menores;
                </li>
                <li>
                    N&atilde;o enviar mensagens de correio eletr&oacute;nico em
                    massa e/ou repetitivas a um determinado n&uacute;mero de
                    pessoas, nem enviar endere&ccedil;os de correio
                    eletr&oacute;nico de terceiros sem o seu consentimento.
                </li>
            </ol>
        </ol>
        <ol start="7">
            <li>
                <strong
                    >Marcas registadas, direitos de autor e propriedade
                    intelectual:</strong
                >
            </li>
        </ol>
        <p class="justify">
            O Software utilizado na Plataforma, bem como todos os
            conte&uacute;dos nela inclu&iacute;dos, sem limitar o design, textos
            e elementos gr&aacute;ficos, bem como a sele&ccedil;&atilde;o e
            conce&ccedil;&atilde;o dos conte&uacute;dos difundidos
            atrav&eacute;s da mesma, assim como a sua apresenta&ccedil;&atilde;o
            e montagem, s&atilde;o propriedade exclusiva da FMCAMPS, que
            det&eacute;m os direitos de explora&ccedil;&atilde;o. Neste sentido,
            constituem obras protegidas pelas leis de direitos de autor e de
            propriedade intelectual, estando igualmente sujeitas aos tratados
            internacionais assinados neste dom&iacute;nio.
        </p>
        <p class="justify">
            FMCAMPS det&eacute;m e mant&eacute;m todos os direitos,
            t&iacute;tulos e interesses sobre (a) os Servi&ccedil;os e o
            Software, todas as melhorias, aperfei&ccedil;oamentos,
            extens&otilde;es ou modifica&ccedil;&otilde;es dos mesmos, (b)
            qualquer software, aplica&ccedil;&otilde;es, inven&ccedil;&otilde;es
            ou outra tecnologia desenvolvida em liga&ccedil;&atilde;o com os
            Servi&ccedil;os de Implementa&ccedil;&atilde;o ou suporte, e (c)
            todos os direitos de propriedade intelectual relacionados com
            qualquer um dos anteriores.
        </p>

        <p class="justify">
            A FMCAMPS n&atilde;o concede qualquer licen&ccedil;a ou
            autoriza&ccedil;&atilde;o de utiliza&ccedil;&atilde;o dos seus
            direitos de propriedade industrial e intelectual, direitos de autor,
            marcas registadas ou qualquer outra propriedade ou direito
            relacionado com a Plataforma.
        </p>

        <p class="justify">
            A FMCAMPS, os log&oacute;tipos, desenhos, cabe&ccedil;alhos,
            &iacute;cones, c&oacute;digo fonte (HTML, CSS, JavaScript, etc.),
            ilustra&ccedil;&otilde;es e nomes de Servi&ccedil;os s&atilde;o
            marcas registadas, obras protegidas por direitos de autor e
            propriedade intelectual da FMCAMPS e n&atilde;o podem ser
            utilizados, copiados, imitados ou usados, no todo ou em parte, sem a
            pr&eacute;via autoriza&ccedil;&atilde;o escrita da FMCAMPS, nem o
            conte&uacute;do da Plataforma ou os processos utilizados pela
            FMCAMPS para a presta&ccedil;&atilde;o dos seus Servi&ccedil;os.
        </p>
        <ol start="8">
            <li>
                <strong>Responsabilidade:</strong>
            </li>
        </ol>
        <p class="justify">
            O Utilizador concorda em indemnizar e isentar de responsabilidade a
            FMCAMPS e cada um dos seus directores, administradores, agentes,
            contratantes, parceiros e funcion&aacute;rios, contra quaisquer
            perdas, responsabilidades, reclama&ccedil;&otilde;es,
            exig&ecirc;ncias, danos, custos e despesas, incluindo
            honor&aacute;rios razo&aacute;veis de advogados, decorrentes de ou
            relacionados com o seu Conte&uacute;do do Utilizador, qualquer
            conte&uacute;do de terceiros que publique ou partilhe atrav&eacute;s
            da Plataforma, a sua utiliza&ccedil;&atilde;o do servi&ccedil;o ou
            da Plataforma, a sua conduta em rela&ccedil;&atilde;o ao
            servi&ccedil;o ou &agrave; Plataforma ou com outros utilizadores do
            servi&ccedil;o ou da Plataforma, ou qualquer viola&ccedil;&atilde;o
            destes Termos e Condi&ccedil;&otilde;es ou de qualquer lei ou dos
            direitos de terceiros.
        </p>
        <p class="justify">
            O Utilizador declara, reconhece e aceita que a
            utiliza&ccedil;&atilde;o da Plataforma &eacute; feita por sua conta
            e risco, isentando a FMCAMPS de qualquer responsabilidade,
            incluindo, sem limita&ccedil;&atilde;o, danos, d&iacute;vidas
            n&atilde;o pagas, perdas ou despesas directas ou indirectas,
            decorrentes da Plataforma ou da sua utiliza&ccedil;&atilde;o, ou da
            impossibilidade de utiliza&ccedil;&atilde;o pelos Utilizadores, ou
            relacionadas com qualquer falha de desempenho, erro, omiss&atilde;o,
            interrup&ccedil;&atilde;o, defeito, atraso na opera&ccedil;&atilde;o
            ou transmiss&atilde;o, v&iacute;rus inform&aacute;tico ou falha do
            sistema ou da linha.
        </p>
        <ol start="9">
            <li>
                <strong>Disponibilidade da plataforma</strong>:
            </li>
        </ol>
        <p class="justify">
            O Utilizador reconhece que a Plataforma e o servi&ccedil;o podem
            estar temporariamente indispon&iacute;veis por motivos de
            manuten&ccedil;&atilde;o ou outros. A FMCAMPS n&atilde;o assume
            qualquer responsabilidade por qualquer erro, omiss&atilde;o,
            interrup&ccedil;&atilde;o, apagamento, defeito, atraso na
            opera&ccedil;&atilde;o ou transmiss&atilde;o, falha na linha de
            comunica&ccedil;&otilde;es, roubo ou destrui&ccedil;&atilde;o ou
            acesso n&atilde;o autorizado ou altera&ccedil;&atilde;o das
            comunica&ccedil;&otilde;es do Utilizador, que se devam a causas
            n&atilde;o imput&aacute;veis &agrave; FMCAMPS. Neste sentido, a
            FMCAMPS n&atilde;o se responsabiliza por problemas t&eacute;cnicos
            ou avarias de qualquer rede ou linha telef&oacute;nica, sistemas
            inform&aacute;ticos online, servidores ou fornecedores, equipamento
            inform&aacute;tico, software, falhas de correio eletr&oacute;nico ou
            jogadores causadas por problemas t&eacute;cnicos ou congestionamento
            de tr&aacute;fego na Internet ou na Plataforma ou
            combina&ccedil;&atilde;o dos mesmos, incluindo danos ou
            preju&iacute;zos para os Utilizadores ou para o computador de
            qualquer outra pessoa, relacionados ou derivados da
            participa&ccedil;&atilde;o ou descarregamento de materiais
            relacionados com a Plataforma ou em liga&ccedil;&atilde;o com o
            servi&ccedil;o, derivados de situa&ccedil;&otilde;es de caso
            fortuito ou de for&ccedil;a maior.
        </p>
        <ol start="10">
            <li>
                <strong>Coment&aacute;rios</strong>:
            </li>
        </ol>
        <p class="justify">
            O Utilizador reconhece e aceita que quaisquer quest&otilde;es,
            coment&aacute;rios, sugest&otilde;es, ideias, opini&otilde;es ou
            qualquer outra informa&ccedil;&atilde;o sobre os Servi&ccedil;os ou
            a Plataforma que forne&ccedil;a &agrave; FMCAMPS n&atilde;o
            s&atilde;o confidenciais e passam a ser propriedade exclusiva da
            FMCAMPS. A FMCAMPS ter&aacute; direitos exclusivos, incluindo todos
            os direitos de propriedade intelectual, e ter&aacute; direito
            &agrave; livre utiliza&ccedil;&atilde;o e divulga&ccedil;&atilde;o
            de tais comunica&ccedil;&otilde;es para qualquer fim, comercial ou
            outro, sem reconhecimento ou compensa&ccedil;&atilde;o para o
            utilizador.
        </p>
        <ol start="11">
            <li>
                <strong>Notifica&ccedil;&otilde;es:</strong>
            </li>
        </ol>
        <p class="justify">
            A FMCAMPS enviar&aacute; as notifica&ccedil;&otilde;es ou
            comunica&ccedil;&otilde;es aos Utilizadores para o endere&ccedil;o
            de correio eletr&oacute;nico fornecido por estes durante o processo
            de registo, enquanto as notifica&ccedil;&otilde;es ou
            comunica&ccedil;&otilde;es que os Utilizadores desejem enviar
            &agrave; FMCAMPS dever&atilde;o ser enviadas para o endere&ccedil;o
            de correio eletr&oacute;nico da FMCAMPS: soporte@fmcamps.com
        </p>
        <ol start="12">
            <li>
                <strong>Validade dos termos e condi&ccedil;&otilde;es:</strong>
            </li>
        </ol>
        <p class="justify">
            Os Termos e Condi&ccedil;&otilde;es estar&atilde;o em pleno vigor e
            efeito para cada Utilizador a partir da data de assinatura do
            respetivo Contrato de Software Principal como Servi&ccedil;o, e
            permanecer&atilde;o em vigor, incluindo quaisquer
            altera&ccedil;&otilde;es aos mesmos, at&eacute; que surja um motivo
            para rescis&atilde;o de acordo com os Termos e
            Condi&ccedil;&otilde;es ou conforme estabelecido no Contrato de
            Software Principal como Servi&ccedil;o com o Utilizador.
        </p>
        <ol start="13">
            <li>
                <strong>Resolu&ccedil;&atilde;o de lit&iacute;gios:</strong>
            </li>
        </ol>
        <p class="justify">
            A FMCAMPS e os Utilizadores acordam que, em caso de qualquer
            d&uacute;vida ou lit&iacute;gio sobre a validade,
            interpreta&ccedil;&atilde;o ou execu&ccedil;&atilde;o que possa
            surgir entre eles em rela&ccedil;&atilde;o aos documentos acima
            mencionados, submetem-se expressamente &agrave;
            jurisdi&ccedil;&atilde;o dos ju&iacute;zes da comarca de Lima,
            indicando como endere&ccedil;os os que constam nos
            formul&aacute;rios de registo, para onde ser&atilde;o enviadas as
            comunica&ccedil;&otilde;es e notifica&ccedil;&otilde;es judiciais ou
            extrajudiciais que sejam necess&aacute;rias.
        </p>
        <ol start="14">
            <li>
                <strong>Considera&ccedil;&otilde;es finais:</strong>
            </li>
        </ol>
        <p class="justify">
            A FMCAMPS n&atilde;o garante a veracidade de qualquer
            conte&uacute;do do Utilizador ou de terceiros. Embora a FMCAMPS
            forne&ccedil;a regras para a conduta e publica&ccedil;&otilde;es dos
            Utilizadores, a FMCAMPS n&atilde;o controla e n&atilde;o &eacute;
            respons&aacute;vel pelo que os Utilizadores publicam na Plataforma e
            n&atilde;o &eacute; respons&aacute;vel por qualquer conte&uacute;do
            ofensivo, inapropriado, obsceno, ilegal ou question&aacute;vel que
            possa ser encontrado na Plataforma ou em rela&ccedil;&atilde;o a
            qualquer Utilizador ou conte&uacute;do de terceiros. A FMCAMPS
            n&atilde;o &eacute; respons&aacute;vel pela conduta de qualquer
            Utilizador da Plataforma ou do servi&ccedil;o. A FMCAMPS n&atilde;o
            pode garantir e n&atilde;o promete quaisquer resultados
            espec&iacute;ficos da utiliza&ccedil;&atilde;o da Plataforma ou do
            servi&ccedil;o.
        </p>
        <p class="justify">
            A FMCAMPS reserva-se o direito de modificar qualquer conte&uacute;do
            inclu&iacute;do na Plataforma atrav&eacute;s da Plataforma, em
            qualquer altura e sem aviso pr&eacute;vio. Refer&ecirc;ncias a
            produtos, servi&ccedil;os, processos ou outras
            informa&ccedil;&otilde;es, por nome comercial, marca registada,
            fornecedor ou de outra forma n&atilde;o constituem ou implicam
            endosso, patroc&iacute;nio ou recomenda&ccedil;&atilde;o, ou
            qualquer afilia&ccedil;&atilde;o com os mesmos, pela FMCAMPS.
        </p>
        <p class="justify">
            A FMCAMPS pode aplicar san&ccedil;&otilde;es aos s&oacute;cios que
            violem as cl&aacute;usulas aqui previstas, tais como
            suspens&atilde;o ou expuls&atilde;o, ficando ao crit&eacute;rio
            exclusivo da FMCAMPS a san&ccedil;&atilde;o a aplicar.
        </p>
        <ol start="15">
            <li>
                <strong>Contacto:</strong>
            </li>
        </ol>
        <p class="justify">
            e tiver quaisquer quest&otilde;es, reclama&ccedil;&otilde;es,
            coment&aacute;rios ou sugest&otilde;es relativamente aos presentes
            Termos e Condi&ccedil;&otilde;es, contacte-nos atrav&eacute;s do
            endere&ccedil;o soporte@fmcamps.com.
        </p>
        <p class="justify">
            <strong>
                O UTILIZADOR DECLARA TER LIDO E COMPREENDIDO TODAS AS
                CONDI&Ccedil;&Otilde;ES ESTABELECIDAS NOS PRESENTES TERMOS E
                CONDI&Ccedil;&Otilde;ES E NAS POL&Iacute;TICAS DE PRIVACIDADE, E
                DECLARA A SUA CONFORMIDADE E ACEITA&Ccedil;&Atilde;O NO MOMENTO
                DO REGISTO NA PLATAFORMA. QUALQUER PESSOA QUE N&Atilde;O ACEITE
                OU N&Atilde;O CONCORDE COM OS PRESENTES TERMOS E
                CONDI&Ccedil;&Otilde;ES GERAIS, QUE T&Ecirc;M CAR&Aacute;CTER
                OBRIGAT&Oacute;RIO E VINCULATIVO, DEVE ABSTER-SE DE UTILIZAR A
                PLATAFORMA.
            </strong>
        </p>
    </article>
</Layout>
