---
import Layout from "../../layouts/Layout.astro";

import aboutImage from "../../assets/team-1-800x800Op.jpg";
import aboutImage2 from "../../assets/team-1-800x800_2Op.jpg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("layout.About.title")}>
  <main class="max-w-7xl mx-auto pt-36 pb-14 px-4 text-black min-h-screen">
    <!-- Texto de introducción centrado -->
    <div class="max-w-2xl text-center mx-auto px-4 mb-24">
      <p class="text-lg font-light leading-relaxed mt-6 mb-4">
        Our team has 10 years of experience in the On-Site Services industry,
        collaborating with the implementation of digital tools and optimizing
        our clients' processes.
      </p>
    </div>

    <!-- Sección de dos columnas con imágenes y textos -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="px-6">
        <img
          src={aboutImage.src}
          class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined"
          alt="image1"
          decoding="async"
          loading="lazy"
        />

        <div class="pt-6 text-center">
          <h6 class="text-xl font-serif font-bold leading-normal mt-0 mb-2">
            Mission
          </h6>
          <p class="text-base font-light leading-relaxed mt-0 mb-4">
            We are a young Peruvian company with the mission of bringing the
            benefits of the digital cloud economy to companies with needs in
            Facilities Management and Asset Management services.
          </p>
          {/* el otro div */}
        </div>
      </div>

      <div class="px-6">
        <img
          src={aboutImage2.src}
          class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined"
          alt="image2"
          decoding="async"
          loading="lazy"
        />

        <div class="pt-6 text-center">
          <h6 class="text-xl font-serif font-bold leading-normal mt-0 mb-2">
            Vision
          </h6>
          <p class="text-base font-light leading-relaxed mt-0 mb-4">
            To be the first B2B collaboration company specialized in providing
            SaaS software services for FM in the Peruvian mining industry.
          </p>
          {/* el otro div */}
        </div>
      </div>
    </div>
  </main>
</Layout>
