---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="cookies">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
    <p class="justify pt-10">Last update: May 16, 2022</p>
    <p class="justify">&nbsp;</p>
    <h2>COOKIE POLICY OF &ldquo;FMCAMPS&rdquo;</h2>
    <p class="justify">
      Please find below the Cookie Policy of the Website
      <a href="https://www.fmcamps.com">www.fmcamps.com</a> (hereinafter,
      the &ldquo;<u>Platform</u>&rdquo;), which, together with the Privacy
      Policy and the Terms and Conditions, form a contract between{" "}
      <strong>FMCAMPS S.A.C.</strong>, with RUC N&deg; 20608949225
      (hereinafter, &ldquo;<u>FMCAMPS</u>&rdquo;) and the client and/or user
      (hereinafter, the &ldquo;<u>User</u>
      &rdquo;).
    </p>

    <ol>
      <li>
        <strong>What are cookies and why do we use them?</strong>
      </li>
    </ol>

    <p class="justify">
      Cookies are text files or local storage media, which are placed on
      your computer by applications or websites you visit. Cookies are used
      to help us improve your experience when you use our Platform.
    </p>

    <p class="justify">
      The information we collect from cookies is used to:
    </p>

    <ul>
      <li>Help our Platform to remember your preferences.</li>
      <li>Help improve information search functionality.</li>
      <li>Help monitor the performance of our Platform.</li>
    </ul>
    <p class="justify">
      The Platform does not use cookies to identify you personally.
    </p>

    <ol start="2">
      <li>
        <strong>Acceptance of the use of cookies</strong>
      </li>
    </ol>

    <p class="justify">
      If you browse our Platform, you are accepting the use of cookies under
      the conditions set out in this Cookies Policy. This policy may be
      updated, so we invite you to review it regularly.
    </p>

    <ol start="3">
      <li>
        <strong>Cookie Management</strong>
      </li>
    </ol>

    <p class="justify">
      The most popular browsers have configuration options and security
      features that allow you to prevent the installation of cookies and/or
      other browsing data collection systems on your device. You can set
      your browser to reject cookies, but this may block certain features or
      limit access to some content on our website.
    </p>

    <p class="justify">
      You can consult the steps to disable the installation of cookies in
      the &lsquo;Help&rsquo; sections of the web pages of each browser. For
      example, to block cookies in Chrome the following procedure will be
      performed: Settings -&gt; Privacy and security -&gt; Cookies and other
      site data-&gt; Block cookies.
    </p>

    <ol start="4">
      <li>
        <strong>Types of cookies we use</strong>
      </li>
    </ol>

    <p class="justify">The Platform uses the following cookies:</p>

    <p class="justify">
      <strong>Own cookies:</strong>
    </p>
    <ul>
      <li>
        Session Cookies: These are a type of cookies designed to collect and
        store data while the user accesses a website, as well as to track
        activities on the Platform and navigation data. Your experience on
        the Platform will be tailored according to the algorithms and data
        that will be collected.
      </li>
      <li>
        Technical and functional cookies: These are strictly necessary to
        browse <a href="https://www.fmcamps.com">www.fmcamps.com</a> and use
        its different options or services.
      </li>
    </ul>

    <p class="justify">
      <strong>Third-party cookies:</strong>
    </p>
    <ul>
      <li>
        Analysis Cookies: These are used to analyze the browsing habits of
        Users, in order to optimize the functionalities and the technical
        and operational maintenance of the Platform and to guarantee the
        best possible service.
      </li>
    </ul>

    <p class="justify">
      Finally, we indicate that in the event that a user blocks cookies from
      your browser, you can continue browsing the Platform, but it is
      possible that some services are not available, being limited the
      browsing experience.
    </p>
    </article>
</Layout>
