---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="privacy">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">Last update: May 16, 2022</p>
        <p class="justify">&nbsp;</p>
        <h2>PPRIVACY POLICY ABOUT &ldquo;FMCAMPS&rdquo;</h2>
        <ol>
            <li>
                <strong>Introduction</strong>
            </li>
        </ol>
        <p class="justify">
            Below you will find the Privacy Policy of the Website{" "}
            <a href="https://www.fmcamps.com">www.fmcamps.com</a> (hereinafter, the
            &ldquo;<u>Platform</u>&rdquo;) which, together with the Terms and
            Conditions and Cookies Policy, form a contract between{" "}
            <strong>FMCAMPS S.A.C.</strong>, with RUC N&deg; 20608949225,
            (hereinafter, &ldquo;<u>FMCAMPS</u>&rdquo;) and the client and/or
            user (hereinafter, the &ldquo;<u>User</u>&rdquo;).
        </p>

        <p class="justify">
            FMCAMPS ensures the utmost confidentiality and protection of any
            personal data that Users provide us with through the use of the
            Platform in order to make use of the services.
        </p>

        <ol start="2">
            <li>
                <strong> Objective and purpose </strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS is aware of the high importance of the privacy of our Users
            and of all those who are interested in the services and products
            offered.
        </p>

        <p class="justify">
            Consistent with this consideration, we are committed to respecting
            your privacy and protecting the confidentiality of your private
            information and personal data. For this reason, by means of this
            Privacy Policy, we inform our Users of the purpose and the manner in
            which the personal data provided to FMCAMPS is collected, processed
            and protected.
        </p>

        <p class="justify">
            Private personal information does not include information that is
            available through publicly accessible sources. These are understood
            as electronic, optical and other technological means of
            communication designed to provide information to the public and open
            to general consultation, telephone directories, newspapers and
            magazines, social media, professional lists, anonymized
            jurisprudence directories, public registries administered by the
            National Superintendence of Public Registries as well as any other
            registry or database qualified as public according to law, the
            Public Registries administered by the National Superintendence of
            Public Registries as well as any other registry or data bank
            qualified as public according to law, the entities of the Public
            Administration in relation to the information that must be delivered
            in application of Law No. 27806, Law of Transparency and Access to
            Public Information.
        </p>

        <ol start="3">
            <li>
                <strong> Legislation</strong>
            </li>
        </ol>

        <p class="justify">
            According to Law No. 29733 - Personal Data Protection Law
            (hereinafter, the &ldquo;Law&rdquo;) and its Regulations, approved
            by Supreme Decree No. 003-2013-JUS, personal data is understood as
            any information about a natural person that identifies or makes
            him/her identifiable through means that can be reasonably used.
        </p>

        <p class="justify">
            the other hand, personal data processing is understood as any
            operation or technical procedure, automated or not, that allows the
            collection, recording, organization, storage, conservation,
            elaboration, modification, extraction, consultation, use, blocking,
            suppression, communication by transfer or diffusion or any other
            form of processing that facilitates the access, correlation or
            interconnection of personal data.
        </p>

        <p class="justify">
            FMCAMPS develops its personal data processing policy in accordance
            with the guiding principles set forth in the Law mentioned below:
        </p>
        <ol>
            <li>
                Principle of legality: the collection of our users&apos;
                personal data by fraudulent, unfair or unlawful means is
                rejected.
            </li>
            <li>
                Principle of consent: in the processing of personal data of our
                users will be mediated by their consent.
            </li>
            <li>
                Principle of purpose: The personal data of our users will be
                collected for a specific, explicit and lawful purpose, and will
                not be extended to another purpose that has not been
                unequivocally established as such at the time of collection.
            </li>
            <li>
                Principle of proportionality: all processing of personal data of
                our users will be adequate, relevant and not excessive to the
                purpose for which they were collected.
            </li>
            <li>
                Quality principle: Personal data shall be truthful, accurate
                and, as far as possible, updated, necessary, relevant and
                adequate with respect to the purpose for which they were
                collected.
            </li>
            <li>
                Principle of security: they will be kept in such a way as to
                guarantee their security and only for the time necessary to
                fulfill the purpose of the processing.
            </li>
        </ol>
        <p class="justify">
            FMCAMPS and, as the case may be, the data processors have the
            appropriate security measures in accordance with the processing to
            be carried out, in addition to the adoption of the technical,
            organizational and legal measures necessary to guarantee the
            confidentiality of the personal data.
        </p>

        <ol start="4">
            <li>
                <strong> Information on personal data </strong>
            </li>
        </ol>

        <p class="justify">
            The User is informed and freely and voluntarily authorizes FMCAMPS
            to collect, store, conserve, access, use, delete or update its
            personal data for its activities in Peru. In this regard, the
            personal data to which FMCAMPS has access as a result of the
            services it provides or by filling out different forms, shall be
            incorporated into the corresponding &ldquo;Personal Data
            Bank&rdquo;, forming the organized set of users&quot; personal data,
            created by FMCAMPS and registered in the National Registry for the
            Protection of Personal Data.
        </p>

        <p class="justify">
            The personal data provided by users shall be treated with complete
            confidentiality and may only be known and handled by FMCAMPS
            personnel who need to know such information in order to provide the
            services offered. FMCAMPS undertakes to maintain professional
            secrecy with respect to such data and guarantees its duty to
            safeguard them by adopting all necessary security measures.
            Authorization shall not be required when the personal data are
            necessary for the performance of a contractual relationship to which
            the holder of the personal data is a party.
        </p>

        <p class="justify">
            Should the registered data prove to be inaccurate, in whole or in
            part, or incomplete, FMCAMPS may update and/or replace them with the
            corresponding rectified or completed data.
        </p>

        <p class="justify">
            The personal data requested from users are basic contact data and
            are adequate, relevant and not excessive in relation to the purpose
            for which they are collected.
        </p>

        <ol start="5">
            <li>
                <strong> Purpose of personal data processing</strong>
            </li>
        </ol>

        <p class="justify">All data collected will be used by FMCAMPS for:</p>

        <p class="justify">
            To adequately provide the management of On Site services with
            modules focused on the maintenance of mining camps and equipment
            -but not limited to it- through the use of the software called
            &quot;FMCAMPS&rdquo;. Also, the personal data will be used to
            perform a diagnosis and correction of the Services and other offers
            of the Company.
        </p>

        <p class="justify">
            In that sense, the personal data requested for the provision of the
            services described in the immediately preceding paragraph are:
        </p>

        <ul>
            <li>Name and surname,</li>
            <li>D.N.I./C.E./Passport,</li>
            <li>R.U.C.,</li>
            <li>Date of birth,,</li>
            <li>Sex,</li>
            <li>Age,</li>
            <li>Address (domicile),</li>
            <li>Contact telephone number,</li>
            <li>Personal e-mail address,</li>
            <li>Work e-mail address,</li>
            <li>Image (photograph of face),</li>
            <li>Position (responsibility),</li>
            <li>Job specialty,</li>
            <li>Company,</li>
            <li>Cost per man hour,</li>
            <li>Cost center,</li>
            <li>Work area,</li>
            <li>Clothing and shoe sizes,</li>
            <li>Training,</li>
            <li>Validity of medical pass.</li>
        </ul>

        <p class="justify">
            Personal data will be deleted when they are no longer necessary for
            the purposes for which they were collected. However, they shall be
            kept for as long as FMCAMPS may be held liable for any liability
            arising from this relationship with the users. Further processing
            for historical, statistical or scientific purposes shall not be
            deemed incompatible.
        </p>

        <ol start="6">
            <li>
                <strong> Complaint book</strong>
            </li>
        </ol>

        <p class="justify">
            Likewise, the User expressly authorizes FMCAMPS, when making use of
            the complaints book, to process his/her data in order to meet the
            needs of such procedure, as well as to meet the needs arising from
            any judicial, administrative or arbitration process or procedure
            that may arise in the future in connection with the complaint filed
            by the User, to meet any inspection by the competent authority
            regarding the processing of personal data, once the complaint
            procedure has been completed.
        </p>

        <p class="justify">
            The data collected through the complaints book will be stored in the
            &ldquo;Complaints Book&rdquo; database owned by FMCAMPS.
        </p>

        <p class="justify">
            As a consequence of the purposes described above, the storage period
            of the data shall be indefinite. For all purposes, it shall be
            understood that this maximum period of storage and processing of
            personal data is a right of FMCAMPS and not an obligation, and
            FMCAMPS may therefore choose to store and/or process them for
            shorter periods. This in no way prejudices the rights of users to
            revoke their consent to the processing of their personal data at any
            time, as permitted by law and as detailed by FMCAMPS in this Privacy
            Policy.
        </p>

        <ol start="7">
            <li>
                <strong> Personal data security </strong>
            </li>
        </ol>

        <p class="justify">
            compliance with current regulations, the Information Security
            Directive approved by Directorial Resolution No. 019-2013-JUS/DGPDP
            of the National Authority for the Protection of Personal Data,
            FMCAMPS has adopted the technical and organizational security and
            confidentiality measures appropriate to the category of personal
            data, necessary to maintain the required level of security, in order
            to avoid as far as possible the alteration, loss or unauthorized
            access or processing that may affect the integrity, confidentiality
            and availability of the information.
        </p>

        <p class="justify">
            However, the transmission of information via communication networks
            and the Internet is not totally secure; therefore, although FMCAMPS
            will make its best efforts to protect personal data, it cannot
            guarantee the security of such data during transit to the Platform.
            All information provided by Internet users by this means shall be
            sent at their own risk.
        </p>

        <ol start="8">
            <li>
                <strong>
                    {" "}
                    Exercise of Access, Rectification, Cancellation and Opposition
                    Rights
                </strong>
            </li>
        </ol>

        <p class="justify">
            Users who have provided personal data to FMCAMPS may contact the
            latter in order to exercise their rights to information, access,
            updating, inclusion, rectification and deletion, to prevent the
            provision of their personal data, to oppose the processing or
            objective processing of the data, in accordance with the terms set
            forth in the legislation in force. These rights may only be
            exercised by the owner of the personal data or his proxy, in
            accordance with the law.
        </p>

        <p class="justify">
            In order to exercise these rights, users should contact the
            following e-mail address soporte@fmcamps.com, with the reference
            &ldquo;Personal Data Protection&rdquo;, specifying their data,
            proving their identity and the reasons for their request. The person
            signing the request must attach a simple copy of the documents
            proving the identity of the holder (National Identity Card or
            equivalent document) or, if applicable, that of the
            attorney-in-fact, as well as a simple copy of the power of attorney
            granted by notary when applicable.
        </p>

        <p class="justify">
            Likewise, FMCAMPS informs its users of the existence of
            administrative remedies to enforce their rights before the National
            Data Protection Authority or jurisdictional remedies before the
            Judiciary for the purposes of the corresponding habeas data action.
        </p>

        <ol start="9">
            <li>
                <strong> International transfer of personal data </strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS uses third party servers for the storage of data banks by
            technological means, therefore, a cross-border flow will be carried
            out with the company Amazon Web Services Inc. identified with E.I.N.
            N&deg; 204938068, a web hosting service provider located in the
            United States of America, as indicated in the respective records of
            personal data banks.
        </p>

        <p class="justify">
            This personal data may also be communicated to administrative
            entities, judicial and/or police authorities, as long as it is
            established by law.
        </p>
        <ol start="10">
            <li>
                <strong> Others</strong>
            </li>
        </ol>
        <p class="justify">
            As this is a virtual tool, which does not allow direct physical
            contact between FMCAMPS and the owner of the personal data, FMCAMPS
            shall collect and process the personal data based on the good faith
            presumption that the person providing the data is of legal age, is
            proficient in the Spanish language, is of sound mind, has full civil
            capacity and is the owner of the personal data or acts as the
            representative of the owner of the data provided, in the event that
            the data is owned by third parties.
        </p>

        <p class="justify">
            If you have any questions regarding this Privacy Policy, please
            contact us at the following email address:{" "}
            <a href="mailto:soporte@fmcamps.com">soporte@fmcamps.com</a>
        </p>

        <ol start="11">
            <li>
                <strong>
                    {" "}
                    Validity and modification of this Personal Data Protection Policy{
                        " "
                    }
                </strong>
            </li>
        </ol>

        <p class="justify">
            The FMCAMPS Personal Data Protection Policy is constantly updated,
            and FMCAMPS reserves the right to modify its policy in the event of
            a change in current legislation, doctrine, jurisprudence or its own
            business criteria. Should any change be made to this policy, the new
            text will be published on this Web Site.
        </p>

        <p class="justify">
            All users are encouraged to periodically review this Privacy Policy,
            which can be found at{" "}
            <a href="https://www.fmcamps.com/en/privacy">
                www.fmcamps.com/en/privacy.
            </a>
        </p>
    </article>
</Layout>
