---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="terms & condition">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">Last update: May 16, 20221</p>
        <p class="justify">&nbsp;</p>
        <h2>TERMS AND CONDITIONS FOR THE USE OF &ldquo;FMCAMPS&rdquo;</h2>
        <p class="justify">
            Below you will find the Terms and Conditions of the website{" "}
            <a href="https://www.fmcamps.com">www.fmcamps.com</a> (hereinafter, the
            &ldquo;<u>Platform</u>&rdquo;) which, together with the Privacy and
            Cookies Policies, form a contract between{" "}
            <strong>FMCAMPS S.A.C.</strong>, with RUC N&deg; 20608949225
            (hereinafter, &ldquo;<u>FMCAMPS</u>&rdquo;) and the client and/or
            user (hereinafter, the &ldquo;<u>User</u>&rdquo;).
        </p>

        <ol start="1">
            <li>
                <strong>Description</strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS is a company that owns the property rights to the software
            called &ldquo;FMCAMPS&rdquo; (hereinafter, the &ldquo;<u>Software</u
            >
            &rdquo;),which is a system specialized in on-site service management
            processes with modules focused on camp maintenance that manage the entire
            life cycle of work orders, from their reception and scheduling to their
            closure, and all the information of their adjacent processes (the &ldquo;
            <u>Services</u>&rdquo;).
        </p>

        <p class="justify">
            This document contains the clauses governing the general Terms and
            Conditions of use of the Website, fan pages, and any of its
            subdomains and each of the tools available now or in the future.
        </p>

        <p class="justify">
            Likewise, the Terms and Conditions govern the Services provided by
            FMCAMPS.
        </p>

        <ol start="2">
            <li>
                <strong>Acceptance of Terms and Conditions</strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS will assign an account to the User on the Platform (the
            &quot;
            <u>Account</u>&quot;), through which the User may use the Services
            that FMCAMPS may make available to it. Notwithstanding the
            foregoing, by accepting the assignment of the Account you are
            accepting the Terms and Conditions and, therefore, you agree to
            comply with the provisions set forth therein.
        </p>

        <p class="justify">
            Accordingly, before taking any action on the Platform, you should
            carefully read all Terms and Conditions, as well as the Privacy and
            Cookie Policies, and if you do not agree, you should refrain from
            further use of the Platform and/or Services. Otherwise, you are
            expressly warranting that:
        </p>

        <ul>
            <li>
                Accepts and agrees to be bound by these Terms and Conditions of
                Use, as well as the Privacy and Cookie Policies, which are
                binding documents; and
            </li>
            <li>
                That you have full capacity to accept and be bound by these
                Terms and Conditions of Use.
            </li>
        </ul>

        <ol start="3">
            <li>
                <strong>Modification of Terms and Conditions</strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS reserves the right to periodically modify the Terms and
            Conditions, as well as any information incorporated therein by
            reference in order to adapt them to new rules and regulations that
            may be issued from time to time, or due to a legal or contractual
            obligation that so determines, without prejudice to the right to
            modify them at FMCAMPS&apos; sole discretion to adapt them to
            industry practices or operational convenience.
        </p>

        <p class="justify">
            When changes are made, FMCAMPS will inform you through its website{
                " "
            }
            <a href="https://www.fmcamps.com">www.fmcamps.com</a>, as well as
            the date from which such changes will take effect.
        </p>
        <p class="justify">
            The User understands and accepts that the continued use of the
            Services or the Platform after changes have been made to it
            constitutes express acceptance of such modifications.
            Notwithstanding the foregoing, the User may disassociate
            himself/herself from FMCAMPS, for which purpose he/she must send a
            communication requesting to be deregistered as a User at the time
            of, or prior to, the implementation of the new changes.
        </p>

        <ol start="4">
            <li>
                <strong>Eligibility</strong>
            </li>
        </ol>

        <p class="justify">
            The Platform and its Services are intended for Users who are legal
            entities duly incorporated in Peru or abroad (hereinafter, &ldquo;
            <u>Eligible Persons</u>&rdquo;).
        </p>

        <p class="justify">
            By using the Platform, the User declares that it meets the
            requirements described in the immediately preceding paragraph and
            that it agrees to comply with all the Terms and Conditions set forth
            herein. The use or access to the Platform by any person who does not
            comply with such requirements is not authorized and is a violation
            of the Terms and Conditions, and FMCAMPS may take actions or
            sanctions according to each case.
        </p>

        <ol start="5">
            <li>
                <strong>Registration Process</strong>
            </li>
        </ol>

        <p class="justify">
            The registration processes maintain the confidentiality of the
            identity of the Users as it is clear from the Privacy Policy. Any
            activity carried out on the Platform with the email address provided
            by the User shall be considered legitimate and performed by the
            User. The User is fully responsible for the accuracy of the data
            entered for the registration process as a User.
        </p>
        <p class="justify">
            The User is solely responsible for safeguarding its User&apos;s name
            and password on the Platform. FMCAMPS has no access to such
            password, and if the User forgets or corrupts it, the User must
            first follow the steps for its recovery or contact FMCAMPS to
            request that a new password be generated.
        </p>
        <p class="justify">
            The User acknowledges that e-mail is a key element in registration
            and communication with FMCAMPS. The User is responsible for
            providing a valid and frequently used and monitored e-mail address
            and agrees that FMCAMPS may send to such address the usual
            communications.
        </p>

        <ol start="6">
            <li>
                <strong>User Obligations</strong>
            </li>
        </ol>

        <p class="justify">
            The User may have only one Account on the Platform.
        </p>
        <p class="justify">
            Furthermore, the User declares, acknowledges and accepts that the
            use of the Platform is at the User&apos;s own risk, releasing
            FMCAMPS from all liability, including without limitation, direct or
            indirect damages, losses or expenses arising in connection with the
            Platform or its use.
        </p>
        <p class="justify">
            The User agrees to refrain at all times from interfering or
            attempting to interfere with the normal operation and functioning of
            the Platform, by any means whatsoever, including, without implying
            any limitation, the sending of computer viruses in any format, the
            development of spamming, hacking or cracking activities, or any
            other means expressly prohibited by any provision of the Terms and
            Conditions or whose effect is to interfere, attempt to interfere,
            damage or affect the Website or third parties using or accessing the
            same.
        </p>
        <p class="justify">
            If the User violates any of these Terms and Conditions or any other
            agreement between the User and FMCAMPS, the latter may cancel the
            User&apos;s Access ID, delete its profile and any content or
            information it has published on the Platform and/or prohibit its use
            of the Platform (or any part, aspect or feature of the service or
            the Platform), at any time and at FMCAMPS&apos; sole discretion,
            without prior notice. Should the scenario mentioned in this
            paragraph occur, FMCAMPS shall not be obliged to refund or recognize
            any item corresponding to the Services contracted to date.
        </p>
        <p class="justify">
            In the event that the User violates the law or infringes the rights
            of third parties, FMCAMPS is entitled to provide, upon request of
            any legitimate authority (courts, administrative authorities and
            police forces), any information enabling or facilitating the
            identification of the infringer..
        </p>
        <p class="justify">
            In general, the User agrees, including but not limited to:
        </p>
        <ol>
            <ol type="a">
                <li>Not to use the Platform for illicit purposes;</li>
                <li>Not to use the Platform under the name of another User;</li>
                <li>
                    Not to infringe intellectual property rights, especially on
                    the distinctive signs of which FMCAMPS is the owner, or the
                    regulatory standards relating to the protection of personal
                    data;
                </li>
                <li>Not to access the e-mail accounts of other Users;</li>
                <li>Not to use the Platform fraudulently;</li>
                <li>
                    Not to alter or modify the Platform by circumventing,
                    disabling or otherwise manipulating the functions of the
                    Platform;
                </li>
                <li>
                    Not to introduce computer viruses, defective files or any
                    other computer program that may cause damage or alterations
                    to the contents or systems of the Platform;
                </li>
                <li>
                    Not to advertise goods or services without the prior consent
                    of FMCAMPS:
                </li>
                <li>
                    Not to host, store, disseminate, publish, distribute or
                    share images or photographs that collect images or personal
                    data of third parties without having obtained the
                    appropriate consent of their owners;
                </li>
                <li>
                    Not to host, store, disseminate, publish, distribute or
                    share any material or information that is unlawful, racist,
                    xenophobic, obscene, pornographic, abusive, defamatory,
                    deceptive, fraudulent or in any way contrary to morality or
                    public order;
                </li>
                <li>
                    Not to use the Platform to harm, defame, intimidate or
                    damage one&apos;s own image or harass other Users;
                </li>
                <li>
                    Not to host, store, disseminate, publish, distribute or
                    share any content that may involve unlawful interference or
                    infringement in any way of the fundamental rights to honour,
                    image and personal privacy of third parties and, in
                    particular, of minors;
                </li>
                <li>
                    Not to send mass and/or repetitive e-mails to a number of
                    people, nor to send e-mail addresses of third parties
                    without their consent.
                </li>
            </ol>
        </ol>
        <ol start="7">
            <li>
                <strong
                    >Trademarks, Copyrights and Intellectual Property:</strong
                >
            </li>
        </ol>
        <p class="justify">
            The Software used on the Platform, as well as all the content
            included therein, without limiting the design, texts and graphic
            elements, as well as the selection and design of the content
            disseminated through it, as well as its presentation and assembly,
            are the exclusive property of FMCAMPS, which holds the exploitation
            rights. In this sense, they constitute works protected by copyright
            and intellectual property laws, and are also subject to the
            international treaties signed in this field.
        </p>
        <p class="justify">
            FMCAMPS shall own and retain all right, title and interest in and to
            (a) the Services and Software, all improvements, enhancements,
            extensions or modifications thereto, (b) any software, applications,
            inventions or other technology developed in connection with the
            Implementation Services or support, and (c) all intellectual
            property rights related to any of the foregoing.
        </p>

        <p class="justify">
            FMCAMPS does not grant any licence or authorisation to use its
            industrial and intellectual property rights, copyrights, trademarks
            or any other property or right related to the Platform.
        </p>

        <p class="justify">
            FMCAMPS, the logos, designs, headers, icons, source code (HTML, CSS,
            JavaScript, etc.), illustrations and Service names are registered
            trademarks, works protected by copyright and intellectual property
            of FMCAMPS and may not be used, copied, imitated or used, in whole
            or in part, without the prior written authorisation of FMCAMPS, nor
            may the content of the Platform or the processes used by FMCAMPS to
            provide its Services.
        </p>
        <ol start="8">
            <li>
                <strong>Responsibility:</strong>
            </li>
        </ol>
        <p class="justify">
            The User agrees to indemnify and hold harmless FMCAMPS and each of
            its directors, officers, agents, contractors, partners and
            employees, against any losses, liabilities, claims, demands,
            damages, costs and expenses, including reasonable attorneys&apos;
            fees, arising out of or in connection with your User Content, any
            third party content you post or share through the Platform, your use
            of the service or the Platform, your conduct in connection with the
            service or the Platform or with other users of the service or the
            Platform, or any violation of these Terms and Conditions or any law
            or the rights of any third party.
        </p>
        <p class="justify">
            The User declares, acknowledges and accepts that use of the Platform
            is at the User&apos;s own risk, releasing FMCAMPS from all
            liability, including, without limitation, damages, unpaid debts,
            direct or indirect losses or expenses arising in connection with the
            Platform or its use, or impossibility of use by Users, or in
            connection with any failure of performance, error, omission,
            interruption, defect, delay in operation or transmission, computer
            virus or system or line failure.
        </p>
        <ol start="9">
            <li>
                <strong>Availability of the Platform</strong>:
            </li>
        </ol>
        <p class="justify">
            The User acknowledges that the Platform and the service may be
            temporarily unavailable for maintenance or other reasons. FMCAMPS
            assumes no responsibility for any error, omission, interruption,
            deletion, defect, delay in operation or transmission, communications
            line failure, theft or destruction or unauthorised access to, or
            alteration of, the User&apos;s communications, which are due to
            causes not attributable to FMCAMPS. In this regard, FMCAMPS is not
            responsible for technical problems or malfunctions of any telephone
            network or lines, online computer systems, servers or providers,
            computer equipment, software, e-mail failures or players caused by
            technical problems or traffic congestion on the Internet or on the
            Platform or combination thereof, including injury or damage to Users
            or to the computer of any other person related to or derived from
            the participation or downloading of materials related to the
            Platform or in connection with the service, derived from situations
            of fortuitous events or force majeure.
        </p>
        <ol start="10">
            <li>
                <strong>Comments</strong>:
            </li>
        </ol>
        <p class="justify">
            The User acknowledges and accepts that any questions, comments,
            suggestions, ideas, opinions or any other information about the
            Services or the Platform that you provide to FMCAMPS are
            non-confidential and shall become the exclusive property of FMCAMPS.
            FMCAMPS shall have exclusive rights, including all intellectual
            property rights, and shall be entitled to the free use and
            dissemination of such communications for any purpose, commercial or
            otherwise, without acknowledgement or compensation to You.
        </p>
        <ol start="11">
            <li>
                <strong>Notifications:</strong>
            </li>
        </ol>
        <p class="justify">
            FMCAMPS will send notifications or communications to Users to the
            e-mail address provided by them during the registration process,
            while notifications or communications that Users wish to send to
            FMCAMPS should be sent to the FMCAMPS e-mail address:
            soporte@fmcamps.com
        </p>
        <ol start="12">
            <li>
                <strong>Validity of the Terms and Conditions:</strong>
            </li>
        </ol>
        <p class="justify">
            The Terms and Conditions shall be in full force and effect for each
            User as of the date of signature of the relevant Master Software as
            a Service Agreement, and shall remain in effect, including any
            amendments thereto, until such time as a reason for termination
            occurs in accordance with the Terms and Conditions or as set forth
            in the Master Software as a Service Agreement with the User.
        </p>
        <ol start="13">
            <li>
                <strong>Dispute settlement:</strong>
            </li>
        </ol>
        <p class="justify">
            FMCAMPS and the Users agree that in the event of any doubt or
            dispute regarding the validity, interpretation or execution that may
            arise between them in relation to the aforementioned documents, they
            expressly submit to the jurisdiction of the judges of the judicial
            district of Lima, indicating as their addresses those that appear on
            the registration forms, where any judicial or extrajudicial
            communications and notifications that may be necessary shall be
            sent.
        </p>
        <ol start="14">
            <li>
                <strong>Final considerations:</strong>
            </li>
        </ol>
        <p class="justify">
            FMCAMPS does not guarantee the veracity of any User content or third
            party content. Although FMCAMPS provides rules for User conduct and
            publications, FMCAMPS does not control and is not responsible for
            what Users publish on the Platform and is not responsible for any
            offensive, inappropriate, obscene, illegal or questionable content
            that may be found on the Platform or in relation to any User or
            third party content. FMCAMPS is not responsible for the conduct of
            any User of the Platform or the service. FMCAMPS cannot guarantee
            and does not promise any specific results from the use of the
            Platform or the service.
        </p>
        <p class="justify">
            FMCAMPS reserves the right to modify any content included on the
            Platform through the Platform at any time without notice. References
            to products, services, processes or other information, by trade
            name, trademark, supplier or otherwise does not constitute or imply
            endorsement, sponsorship or recommendation, or any affiliation
            therewith, by FMCAMPS.
        </p>
        <p class="justify">
            FMCAMPS may apply sanctions to members who violate the clauses
            herein prescribed, such as suspension or expulsion, and it is at the
            sole discretion of FMCAMPS as to which sanction to apply.
        </p>
        <ol start="15">
            <li>
                <strong>Contact:</strong>
            </li>
        </ol>
        <p class="justify">
            If you have any questions, complaints, comments or suggestions
            regarding these Terms and Conditions, please contact us at
            soporte@fmcamps.com.
        </p>
        <p class="justify">
            <strong>
                THE USER DECLARES TO HAVE READ AND UNDERSTOOD ALL THE CONDITIONS
                SET OUT IN THESE TERMS AND CONDITIONS AND THE PRIVACY POLICIES,
                AND DECLARES HIS/HER CONFORMITY AND ACCEPTANCE AT THE TIME OF
                REGISTERING ON THE PLATFORM. ANY PERSON WHO DOES NOT ACCEPT OR
                DISAGREES WITH THESE GENERAL TERMS AND CONDITIONS, WHICH ARE OF
                A MANDATORY AND BINDING NATURE, MUST REFRAIN FROM USING THE
                PLATFORM.
            </strong>
        </p>
    </article>
</Layout>
