---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="FMCAMPS. SaaS para la gestión de sitios">
	<!-- <Welcome /> -->
	<div class="hero bg-center bg-cover text-white">
		<!-- bg-[url(../assets/bgheader.jpg)] bg-cover -->
		<Navbar />
		<Hero />
		<Footer />
	</div>
</Layout>

<style>
	.hero {
		background-image: linear-gradient(
				rgba(0, 0, 0, 0.7),
				rgba(0, 0.8, 0, 0)
			),
			url("../assets/bgheader.jpg");
		
		animation: movimiento 10s infinite linear alternate;
	}

	@keyframes movimiento {
		from {
			background-position: calc(55%);
		}
		to {
			background-position: top right calc(20%);
		}
	}
</style>
