---
import Layout from "../layouts/Layout.astro";
---

<Layout title="terms & condition">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">
            &Uacute;ltima actualizaci&oacute;n: 16 de mayo de 2022
        </p>
        <p class="justify">&nbsp;</p>
        <h2>
            T&Eacute;RMINOS Y CONDICIONES PARA EL USO DE &ldquo;FMCAMPS&rdquo;
        </h2>
        <p class="justify">
            A continuaci&oacute;n, encontrar&aacute; los T&eacute;rminos y
            Condiciones del sitio web{" "}
            <a href="https://www.fmcamps.com">www.fmcamps.com</a> (en adelante, la
            &ldquo;<u>Plataforma</u>&rdquo;) el que, en concordancia con las
            Pol&iacute;ticas de Privacidad y Cookies, forman un contrato entre{
                " "
            }
            <strong>FMCAMPS S.A.C.</strong>, con RUC N&deg; 20608949225 (en
            adelante, &ldquo;<u>FMCAMPS</u>&rdquo;) con el cliente y/o usuario
            (en adelante, el &ldquo;<u>Usuario</u>&rdquo;).
        </p>

        <ol start="1">
            <li>
                <strong>Descripci&oacute;n </strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS es una empresa que posee la titularidad del derecho de
            propiedad sobre el software denominado &ldquo;FMCAMPS&rdquo; (en
            adelante, el &ldquo;<u>Software</u>&rdquo;), el cual es un sistema
            especializado en los procesos de gesti&oacute;n de servicios On Site
            con m&oacute;dulos enfocados al mantenimiento de campamentos, que
            gestionan todo el ciclo de vida de las &oacute;rdenes de trabajo,
            desde su recepci&oacute;n y programaci&oacute;n hasta su cierre, y
            de toda la informaci&oacute;n de sus procesos adyacentes (los
            &ldquo;
            <u>Servicios</u>&rdquo;).
        </p>

        <p class="justify">
            El presente documento contiene las cl&aacute;usulas que rigen los
            T&eacute;rminos y Condiciones generales del uso del Sitio web, fan
            pages, y cualquiera de sus subdominios y cada una de las
            herramientas disponibles actualmente o en el futuro.
        </p>

        <p class="justify">
            Asimismo, los T&eacute;rminos y Condiciones rigen los Servicios
            brindados por FMCAMPS.
        </p>

        <ol start="2">
            <li>
                <strong>
                    Aceptaci&oacute;n de los T&eacute;rminos y Condiciones
                </strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS asignar&aacute; una cuenta al Usuario en la Plataforma (la
            &quot;
            <u>Cuenta</u>&quot;), mediante la cual el Usuario podr&aacute;
            utilizar los Servicios que FMCAMPS pueda poner a su
            disposici&oacute;n. Sin perjuicio de ello, al aceptar la
            asignaci&oacute;n de la Cuenta usted est&aacute; aceptando los
            T&eacute;rminos y Condiciones y, por lo tanto, se obliga a cumplir
            con lo establecido en su contenido.
        </p>

        <p class="justify">
            De acuerdo con lo anterior, antes de realizar cualquier
            acci&oacute;n en la Plataforma, usted debe leer cuidadosamente todos
            los T&eacute;rminos y Condiciones, as&iacute; como las
            Pol&iacute;ticas de Privacidad y Cookies, y si no estuviera de
            acuerdo, deber&aacute; abstenerse de seguir usando la Plataforma y/o
            Servicios. De lo contrario, usted est&aacute; garantizando
            expresamente que:
        </p>

        <ul>
            <li>
                Acepta y se obliga por los presentes T&eacute;rminos y
                Condiciones de uso, as&iacute; como por las Pol&iacute;ticas de
                Privacidad y Cookies, los cuales son documentos vinculantes; y
            </li>
            <li>
                Que tiene todas las capacidades para aceptar y obligarse por los
                presentes T&eacute;rminos y Condiciones de uso.
            </li>
        </ul>

        <ol start="3">
            <li>
                <strong>
                    Modificaci&oacute;n de los T&eacute;rminos y Condiciones
                </strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS se reserva el derecho de realizar peri&oacute;dicamente las
            modificaciones a los T&eacute;rminos y Condiciones, como as&iacute;
            tambi&eacute;n a cualquier informaci&oacute;n incorporada a los
            mismos por referencia a fin de adaptarlos a nuevas normas y
            reglamentaciones que oportunamente se dicten, o por una
            obligaci&oacute;n legal o contractual que as&iacute; lo determine,
            sin perjuicio de tambi&eacute;n poder modificarlos al exclusivo
            criterio de FMCAMPS para adaptarse a pr&aacute;cticas de la
            industria o conveniencias operativas.
        </p>

        <p class="justify">
            Al realizar los cambios, FMCAMPS lo informar&aacute; a trav&eacute;s
            de su sitio web <a href="https://www.fmcamps.com">www.fmcamps.com</a
            >, as&iacute; como la fecha desde la que regir&aacute;n dichas
            modificaciones.
        </p>
        <p class="justify">
            El Usuario entiende y acepta que el uso continuado de los Servicios
            o de la Plataforma despu&eacute;s de haberse realizado cambios sobre
            ella, constituye una aceptaci&oacute;n expresa a tales
            modificaciones. No obstante, el Usuario podr&aacute; desvincularse
            de FMCAMPS, para lo cual deber&aacute; cursar comunicaci&oacute;n
            solicitando ser dado de baja como Usuario al momento de, o con
            anterioridad a que empiecen a regir los nuevos cambios
            implementados.
        </p>

        <ol start="4">
            <li>
                <strong>Elegibilidad</strong>
            </li>
        </ol>

        <p class="justify">
            La Plataforma y sus Servicios est&aacute;n destinados para Usuarios
            que sean personas jur&iacute;dicas debidamente constituidas en el
            Per&uacute; o en el extranjero (en adelante, &ldquo;
            <u>Personas elegibles</u>&rdquo;).
        </p>

        <p class="justify">
            Al usar la Plataforma, el Usuario declara que cumple los requisitos
            descritos en el p&aacute;rrafo inmediato anterior y que est&aacute;
            de acuerdo en cumplir con todos los T&eacute;rminos y Condiciones
            aqu&iacute; establecidos. El uso o acceso a la Plataforma por
            cualquier persona que no cumpla tales requisitos no est&aacute;
            autorizado y es una violaci&oacute;n de los T&eacute;rminos y
            Condiciones, pudiendo FMCAMPS tomar las acciones o sanciones acorde
            a cada caso.
        </p>

        <ol start="5">
            <li>
                <strong>Proceso de registro</strong>
            </li>
        </ol>

        <p class="justify">
            Los procesos de registro mantienen la confidencialidad de la
            identidad de los Usuarios seg&uacute;n se desprende de las
            Pol&iacute;ticas de Privacidad. Toda actividad realizada en la
            Plataforma con el correo electr&oacute;nico consignado por el
            Usuario se considerar&aacute; leg&iacute;tima y realizada por el
            Usuario. El Usuario es plenamente responsable por la veracidad de
            los datos que ingresa para el proceso de registro como Usuario.
        </p>
        <p class="justify">
            El Usuario es el &uacute;nico responsable de salvaguardar el nombre
            y contrase&ntilde;a de su Usuario en la Plataforma. FMCAMPS no tiene
            acceso a dicha contrase&ntilde;a y ante el olvido o
            corrupci&oacute;n de la misma, el Usuario deber&aacute;, en primer
            lugar, seguir los pasos para su recuperaci&oacute;n o comunicarse
            con FMCAMPS para solicitar que se genere una nueva
            contrase&ntilde;a.
        </p>
        <p class="justify">
            El Usuario reconoce que el correo electr&oacute;nico es un elemento
            clave en el registro y comunicaci&oacute;n con FMCAMPS. El Usuario
            es responsable de proporcionar una direcci&oacute;n de correo
            electr&oacute;nico v&aacute;lida y de uso y control frecuente y
            acepta que FMCAMPS env&iacute;e a dicha direcci&oacute;n las
            comunicaciones habituales.
        </p>

        <ol start="6">
            <li>
                <strong>Obligaciones de los Usuarios</strong>
            </li>
        </ol>

        <p class="justify">
            El Usuario podr&aacute; contar con una sola Cuenta en la Plataforma.
        </p>
        <p class="justify">
            Asimismo, el Usuario declara, reconoce y acepta que la
            utilizaci&oacute;n de la Plataforma corre por su propia cuenta y
            riesgo, liberando a FMCAMPS de toda responsabilidad, incluyendo sin
            l&iacute;mite, da&ntilde;os, p&eacute;rdidas o gastos directos,
            indirectos, que surjan en relaci&oacute;n con la Plataforma o su
            uso.
        </p>
        <p class="justify">
            El Usuario se obliga a abstenerse en todo momento de interferir o
            intentar interferir en el normal desarrollo de la operaci&oacute;n y
            funcionamiento de la Plataforma, por cualquier medio que sea,
            incluyendo, sin que implique limitaci&oacute;n alguna, el
            env&iacute;o de virus inform&aacute;ticos en cualquier formato, el
            desarrollo de actividades de spamming, hacking o cracking, o
            cualquier otro medio expresamente prohibido por cualquier
            previsi&oacute;n de los T&eacute;rminos y Condiciones o cuyo efecto
            sea interferir, intentar interferir, da&ntilde;ar o afectar el Sitio
            Web o a terceros que lo utilicen o accedan al mismo.
        </p>
        <p class="justify">
            Si el Usuario viola cualquiera de estos T&eacute;rminos y
            Condiciones o cualquier otro acuerdo entre el Usuario y FMCAMPS,
            esta &uacute;ltima podr&aacute; cancelar la Identificaci&oacute;n de
            Acceso del Usuario, borrar su perfil y cualquier contenido o
            informaci&oacute;n que haya publicado en la Plataforma y/o prohibir
            su uso de la Plataforma (o cualquier parte, aspecto o
            caracter&iacute;stica del servicio o la Plataforma), en cualquier
            momento y a sola discreci&oacute;n de FMCAMPS, sin necesidad de
            previo aviso. En caso ocurra el escenario mencionado en el presente
            p&aacute;rrafo, FMCAMPS no se encontrar&aacute; obligado a devolver
            ni a reconocer concepto alguno correspondiente a los Servicios
            contratados a la fecha.
        </p>
        <p class="justify">
            En caso el Usuario viole la legislaci&oacute;n o infrinja los
            derechos de terceros, FMCAMPS tiene derecho a facilitar, previa
            solicitud de cualquier autoridad leg&iacute;tima (tribunales,
            autoridades administrativas y fuerzas policiales), cualquier
            informaci&oacute;n que permita o facilite la identificaci&oacute;n
            del infractor.
        </p>
        <p class="justify">
            En general, el Usuario se compromete, de manera enunciativa y no
            limitativa a:
        </p>
        <ol>
            <ol type="a">
                <li>No utilizar la Plataforma para fines il&iacute;citos;</li>
                <li>
                    No utilizar la Plataforma bajo el nombre de otro Usuario;
                </li>
                <li>
                    No infringir los derechos de propiedad intelectual,
                    especialmente sobre los signos distintivos de los cuales
                    FMCAMPS es titular, o las normas regulatorias referidas a la
                    protecci&oacute;n de datos personales;
                </li>
                <li>
                    No acceder a las cuentas de correo electr&oacute;nico de
                    otros Usuarios;
                </li>
                <li>No utilizar la Plataforma de forma fraudulenta;</li>
                <li>
                    No alterar ni modificar la Plataforma, eludiendo,
                    desactivando o manipulando de cualquier otra forma las
                    funciones de la Plataforma;
                </li>
                <li>
                    No introducir virus inform&aacute;ticos, archivos
                    defectuosos o cualquier otro programa inform&aacute;tico que
                    pueda provocar da&ntilde;os o alteraciones en los contenidos
                    o sistemas de la Plataforma;
                </li>
                <li>
                    No realizar acciones publicitarias de bienes o servicios sin
                    el previo consentimiento de FMCAMPS:
                </li>
                <li>
                    No alojar, almacenar, divulgar, publicar, distribuir o
                    compartir im&aacute;genes o fotograf&iacute;as que recojan
                    im&aacute;genes o datos personales de terceros sin haber
                    obtenido el oportuno consentimiento de sus titulares;
                </li>
                <li>
                    No alojar, almacenar, divulgar, publicar, distribuir o
                    compartir cualquier material o informaci&oacute;n que sea
                    ilegal, racista, xen&oacute;foba, obscena,
                    pornogr&aacute;fica, abusiva, difamatoria, enga&ntilde;osa,
                    fraudulenta o de cualquier forma contraria a las buenas
                    costumbres o al orden p&uacute;blico;
                </li>
                <li>
                    No usar la Plataforma para da&ntilde;ar, difamar, intimidar
                    o perjudicar la propia imagen o acosar a otros Usuarios;
                </li>
                <li>
                    No alojar, almacenar, divulgar, publicar, distribuir o
                    compartir cualquier contenido que pueda suponer una
                    intromisi&oacute;n ileg&iacute;tima o vulneraci&oacute;n en
                    cualquier forma de los derechos fundamentales al honor,
                    imagen e intimidad personal de terceros y, muy
                    especialmente, de los menores de edad;
                </li>
                <li>
                    No remitir correos electr&oacute;nicos con car&aacute;cter
                    masivo y/o repetitivo a una pluralidad de personas, ni
                    mandar direcciones de correo electr&oacute;nico de terceros
                    sin su consentimiento.
                </li>
            </ol>
        </ol>
        <ol start="7">
            <li>
                <strong
                    >Marcas, Derechos de Autor y Propiedad Intelectual:</strong
                >
            </li>
        </ol>
        <p class="justify">
            El Software utilizado en la Plataforma, as&iacute; como todo el
            contenido incluido en ella sin limitaci&oacute;n del dise&ntilde;o,
            los textos y elementos gr&aacute;ficos constitutivos, as&iacute;
            como la selecci&oacute;n y dise&ntilde;o del contenido difundidos a
            trav&eacute;s de &eacute;ste, as&iacute; como su presentaci&oacute;n
            y montaje, son de titularidad exclusiva de FMCAMPS, quien ostenta
            los derechos de explotaci&oacute;n. En este sentido, constituyen
            obras protegidas por normas de derechos de autor y propiedad
            intelectual, result&aacute;ndoles, asimismo, de aplicaci&oacute;n
            los tratados internacionales suscritos en este campo.
        </p>
        <p class="justify">
            FMCAMPS ser&aacute; propietaria y conservar&aacute; todos los
            derechos, t&iacute;tulos e intereses sobre (a) los Servicios y el
            Software, todas las mejoras, ampliaciones o modificaciones de los
            mismos, (b) cualquier software, aplicaci&oacute;n, invenci&oacute;n
            u otra tecnolog&iacute;a desarrollada en relaci&oacute;n con los
            Servicios de Implementaci&oacute;n o el soporte, y (c) todos los
            derechos de propiedad intelectual relacionados con cualquiera de los
            anteriores.
        </p>

        <p class="justify">
            FMCAMPS no concede licencia o autorizaci&oacute;n de uso alguna
            sobre sus derechos de propiedad industrial e intelectual, derechos
            de autor, marcas o sobre cualquier otra propiedad o derecho
            relacionado con la Plataforma.
        </p>

        <p class="justify">
            FMCAMPS, los logotipos, dise&ntilde;os, cabeceras, &iacute;conos,
            c&oacute;digo fuente (HTML, CSS, JavaScript, entre otros),
            ilustraciones y nombres de Servicios, son marcas registradas, obras
            protegidas por derechos de autor y propiedad intelectual de FMCAMPS
            y no pueden ser utilizados ni se pueden copiar, imitar o utilizar,
            en todo o en parte, sin la previa autorizaci&oacute;n por escrito de
            FMCAMPS; al igual que el contenido de la Plataforma, y los procesos
            utilizados por FMCAMPS para la prestaci&oacute;n de sus Servicios.
        </p>
        <ol start="8">
            <li>
                <strong>Responsabilidad:</strong>
            </li>
        </ol>
        <p class="justify">
            El Usuario acepta indemnizar y mantener indemne a FMCAMPS y cada uno
            de sus directores, funcionarios, agentes, contratistas, socios y
            empleados, contra cualquier p&eacute;rdida, responsabilidad,
            reclamo, demanda, da&ntilde;os, costos y gastos, incluyendo
            honorarios razonables de abogados, que surjan de o en
            conexi&oacute;n con su contenido de Usuario, cualquier contenido de
            terceros que el Usuario publicara o comparta a trav&eacute;s de la
            Plataforma, su uso del servicio o la Plataforma, su conducta en
            relaci&oacute;n con el servicio o la Plataforma o con otros usuarios
            del servicio o la Plataforma, o cualquier violaci&oacute;n de estos
            T&eacute;rminos y Condiciones o de cualquier ley o los derechos de
            terceros.
        </p>
        <p class="justify">
            El Usuario declara, reconoce y acepta que la utilizaci&oacute;n de
            la Plataforma corre por su propia cuenta y riesgo, liberando a
            FMCAMPS de toda responsabilidad, incluyendo, sin l&iacute;mite,
            da&ntilde;os, deudas impagas, p&eacute;rdidas o gastos directos,
            indirectos, que surjan en relaci&oacute;n con la Plataforma o su
            uso, o imposibilidad de uso por los Usuarios, o en relaci&oacute;n
            con cualquier falla en el rendimiento, error, omisi&oacute;n,
            interrupci&oacute;n, defecto, demora en la operaci&oacute;n o
            transmisi&oacute;n, virus inform&aacute;ticos o falla de sistema o
            l&iacute;nea.
        </p>
        <ol start="9">
            <li>
                <strong>Disponibilidad de la Plataforma</strong>:
            </li>
        </ol>
        <p class="justify">
            El Usuario reconoce que la Plataforma y el servicio pueden no estar
            disponibles temporalmente por mantenimiento u otras razones. FMCAMPS
            no asume responsabilidad por cualquier error, omisi&oacute;n,
            interrupci&oacute;n, supresi&oacute;n, defecto, demora en la
            operaci&oacute;n o transmisi&oacute;n, falla en la l&iacute;nea de
            comunicaciones, robo o destrucci&oacute;n o acceso no autorizado, o
            alteraci&oacute;n de las comunicaciones del Usuario, que respecten a
            causas no imputables a FMCAMPS. En ese sentido, FMCAMPS no es
            responsable de problemas t&eacute;cnicos o mal funcionamiento de
            cualquier red o l&iacute;neas telef&oacute;nicas, sistemas
            inform&aacute;ticos en l&iacute;nea, servidores o proveedores,
            equipos inform&aacute;ticos, software, fallos del correo
            electr&oacute;nico o reproductores ocasionados por problemas
            t&eacute;cnicos o congesti&oacute;n de tr&aacute;fico en Internet o
            en la Plataforma o combinaci&oacute;n de ellas, incluyendo lesiones
            o da&ntilde;os a los Usuarios o a la computadora de cualquier otra
            persona relacionada con o derivada de la participaci&oacute;n o
            descarga de materiales relacionados con la Plataforma o en
            relaci&oacute;n con el servicio, derivadas de situaciones de caso
            fortuito o fuerza mayor.
        </p>
        <ol start="10">
            <li>
                <strong>Comentarios</strong>:
            </li>
        </ol>
        <p class="justify">
            El Usuario reconoce y acepta que cualquier pregunta, comentario,
            sugerencia, idea, opini&oacute;n o cualquier otra informaci&oacute;n
            sobre los Servicios o la Plataforma que usted proporcione a FMCAMPS,
            no son confidenciales y pasar&aacute;n a ser propiedad exclusiva de
            FMCAMPS. FMCAMPS tendr&aacute; derechos exclusivos, incluyendo todos
            los derechos de propiedad intelectual, y tendr&aacute; derecho a la
            libre utilizaci&oacute;n y difusi&oacute;n de esas comunicaciones
            para cualquier prop&oacute;sito, comercial o de otra manera, sin el
            reconocimiento o compensaci&oacute;n para Usted.
        </p>
        <ol start="11">
            <li>
                <strong>Notificaciones:</strong>
            </li>
        </ol>
        <p class="justify">
            FMCAMPS cursar&aacute; las notificaciones o comunicaciones a los
            Usuarios a la direcci&oacute;n de correo electr&oacute;nico brindada
            por &eacute;stos en su proceso de registro mientras que las
            notificaciones o comunicaciones que los Usuarios deseen hacer llegar
            a FMCAMPS deber&aacute;n ser enviadas al correo electr&oacute;nico
            de FMCAMPS: soporte@fmcamps.com
        </p>
        <ol start="12">
            <li>
                <strong>Vigencia de los T&eacute;rminos y Condiciones:</strong>
            </li>
        </ol>
        <p class="justify">
            Los T&eacute;rminos y Condiciones entrar&aacute;n en plena vigencia
            para cada Usuario a partir de la fecha de firma del Contrato Marco
            de Software como Servicio correspondiente, y se mantendr&aacute;
            vigente, incluyendo sus modificaciones, hasta que se produzca una
            raz&oacute;n que determine su terminaci&oacute;n de acuerdo a los
            T&eacute;rminos y Condiciones o a lo establecido en el Contrato
            Marco de Software como Servicio con el Usuario.
        </p>
        <ol start="13">
            <li>
                <strong>Soluci&oacute;n de controversias:</strong>
            </li>
        </ol>
        <p class="justify">
            FMCAMPS y los Usuarios acuerdan que en caso de duda o controversia
            sobre la validez, interpretaci&oacute;n o ejecuci&oacute;n que se
            susciten entre s&iacute;, en relaci&oacute;n con los mencionados
            documentos, se someten expresamente a la competencia de los jueces
            del distrito judicial de Lima, se&ntilde;alando como sus domicilios
            los que aparecen en los formularios de registro, donde se
            cursar&aacute;n las comunicaciones y notificaciones judiciales o
            extrajudiciales a que hubiese lugar.
        </p>
        <ol start="14">
            <li>
                <strong>Consideraciones finales:</strong>
            </li>
        </ol>
        <p class="justify">
            FMCAMPS no garantiza la veracidad de cualquier contenido de Usuario
            o contenido de terceros. A pesar de que FMCAMPS proporciona las
            reglas de conducta del Usuario y las publicaciones, FMCAMPS no
            controla ni es responsable de lo que los Usuarios publican en la
            Plataforma y tampoco es responsable de ning&uacute;n contenido
            ofensivo, contenido inapropiado, obsceno, ilegal o cuestionable que
            pueda encontrar en la Plataforma o en relaci&oacute;n con cualquier
            contenido de Usuario o de terceros. FMCAMPS no es responsable de la
            conducta de cualquier Usuario de la Plataforma o del servicio.
            FMCAMPS no puede garantizar y no promete ning&uacute;n resultado
            espec&iacute;fico del uso de la Plataforma o el servicio.
        </p>
        <p class="justify">
            FMCAMPS se reserva el derecho a modificar cualquier contenido
            incluido en la Plataforma a trav&eacute;s de este en cualquier
            momento sin previo aviso. Las referencias a productos, servicios,
            procesos u otra informaci&oacute;n, por nombre comercial, marca
            registrada, proveedor u otro no constituye ni implica respaldo,
            patrocinio o recomendaci&oacute;n, o de cualquier afiliaci&oacute;n
            con la misma, por parte de FMCAMPS.
        </p>
        <p class="justify">
            FMCAMPS podr&aacute; aplicar sanciones a los miembros que violen las
            cl&aacute;usulas aqu&iacute; prescritas, tales como
            suspensi&oacute;n o expulsi&oacute;n, quedando a criterio
            exclusivamente de FMCAMPS qu&eacute; sanci&oacute;n aplicar.
        </p>
        <ol start="15">
            <li>
                <strong>Contacto:</strong>
            </li>
        </ol>
        <p class="justify">
            Si tienes alguna duda, reclamo, comentario o sugerencia respecto a
            estos T&eacute;rminos y Condiciones, te solicitamos contactarnos a
            soporte@fmcamps.com.
        </p>
        <p class="justify">
            <strong>
                EL USUARIO DECLARA HABER LE&Iacute;DO Y ENTENDIDO TODAS LAS
                CONDICIONES ESTABLECIDAS EN LOS PRESENTES T&Eacute;RMINOS Y
                CONDICIONES Y LAS POL&Iacute;TICAS DE PRIVACIDAD, Y MANIFIESTA
                SU CONFORMIDAD Y ACEPTACI&Oacute;N AL MOMENTO DE REGISTRARSE EN
                LA PLATAFORMA. CUALQUIER PERSONA QUE NO ACEPTE O SE ENCUENTRE EN
                DESACUERDO CON ESTOS T&Eacute;RMINOS Y CONDICIONES GENERALES,
                LOS CUALES TIENEN UN CAR&Aacute;CTER OBLIGATORIO Y VINCULANTE,
                DEBER&Aacute; ABSTENERSE DE UTILIZAR LA PLATAFORMA.
            </strong>
        </p>
    </article>
</Layout>
