---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import DataForm from "../components/DataForm.svelte";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// if (Astro.request.method === "POST") {
//   try {
//     const data = await Astro.request.formData();
//     const name = data.get("user_name");
//     const email = data.get("user_email");
//     const phone = data.get("user_telephone");
//     const message = data.get("user_message");
//     // Do something with the data
//   } catch (error) {
//     if (error instanceof Error) {
//       console.error(error.message);
//     }
//   }
// }
---

<section class="py-24 dark:bg-gray-900">
    <div class="container mx-auto px-8 max-w-7xl">
        <div class="grid md:grid-cols-2 gap-12">
            <div class="slide-up">
                <span
                    class="inline-block px-4 py-1 rounded-full bg-secondary-100 dark:bg-secondary-900 text-secondary-600 dark:text-secondary-300 font-medium text-sm mb-4"
                >
                    {t("Contact.title")}
                </span>
                <h2 class="text-4xl font-bold mb-6 text-gray-900">
                    {t("Contact.subtitle")}
                </h2>
                <p class="text-gray-600 mb-8">
                    {t("Contact.paragraph")}
                </p>
            </div>

            <div class="slide-up" style="animation-delay: 150ms">
                <div
                    class="card p-6 border border-gray-200 dark:border-gray-700"
                >
                    <h3 class="text-xl font-semibold mb-6 text-gray-900">
                        {t("Contact.form.title")}
                    </h3>

                    <!-- https://docs.astro.build/es/reference/directives-reference/ -->
                    <!-- De forma predeterminada, un componente de framework no está hidratado en el cliente. Si no se proporciona la directiva client:*, su HTML se representa en la página sin JavaScript. -->
                     <DataForm client:only="svelte"/>
                </div>
            </div>
        </div>
    </div>
</section>
