---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const experience = [
    {
        numbers: t("experience.years"),
        type: t("experience.time"),
        info: t("experience.text"),
    },
    {
        numbers: t("sites.number"),
        type: t("sites.sites"),
        info: t("sites.text"),
    },
    {
        numbers: t("ots.number"),
        type: t("ots.sites"),
        info: t("ots.text"),
    },
    {
        numbers: t("queries.number"),
        type: t("queries.sites"),
        info: t("queries.text"),
    },
    {
        numbers: t("alerts.number"),
        type: t("alerts.sites"),
        info: t("alerts.text"),
    },
    {
        numbers: t("soles.number"),
        type: t("soles.sites"),
        info: t("soles.text"),
    },
    { numbers: t("hh.number"), type: t("hh.sites"), info: t("hh.text") },
    { numbers:  t("days.number"), type:  t("days.sites"), info:  t("days.text") },
];
---

<div class="container mx-auto h-[1020px] content-center pt-20 pb-48">
    <!-- title -->
    <div class="text-center mb-24">
        <h2 class="text-4xl font-semibold">{t("experience.title")}</h2>
    </div>

    <!-- grid de 4 - 2 filas -->
    <div class="grid grid-cols-4 gap-10">
        {
            experience.map((item) => (
                <div class="text-center content-center text-transform-gradient">
                    <h2 class="text-7xl">{item.numbers}</h2>
                    <span class="text-xl">{item.type}</span>
                    <p class="text-sm uppercase">{item.info}</p>
                </div>
            ))
        }
    </div>
</div>
