---
import fmcamps from "../assets/logo_ftOp.webp";
import fmcampsWhite from "../assets/logo_ft7.png";
import Linkedln from "../icons/Linkedln.astro";
import Facebook from "../icons/Facebook.astro";
import Github from "../icons/Github.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer
    class="w-full h-screen lg:h-auto bg-white dark:bg-gray-900 dark:text-gray-100"
>
    <div class="max-w-7xl mx-auto py-16 px-4 grid lg:grid-cols-3 gap-8">
        <div>
            <div>
                <img
                    src={fmcamps.src}
                    alt="Logo FMCAMPS"
                    decoding="async"
                    loading="lazy"
                    class="dark:hidden"
                />
                <img
                    src={fmcampsWhite.src}
                    alt="Logo FMCAMPS"
                    decoding="async"
                    loading="lazy"
                    class="hidden dark:block"
                />
            </div>
            <p class="py-4">
                {t("Footer.phrase")}
            </p>
            <div class="flex justify-between md:w-[75%] my-6">
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    <Linkedln
                        class="w-6 h-6 text-gray-500 hover:text-[#7c3aed] dark:text-gray-400 dark:hover:text-[#a78bfa] transition-colors"
                    />
                </a>
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    <Facebook
                        class="w-6 h-6 text-gray-500 hover:text-[#7c3aed] dark:text-gray-400 dark:hover:text-[#a78bfa] transition-colors"
                    />
                </a>
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    <Github
                        class="w-6 h-6 text-gray-500 hover:text-[#7c3aed] dark:text-gray-400 dark:hover:text-[#a78bfa] transition-colors"
                    />
                </a>
            </div>
        </div>
        <div
            class="lg:col-span-2 grid lg:grid-cols-3 sm:grid-cols-2 gap-8 mt-6"
        >
            <div class="">
                <h6 class="font-medium text-gray-400">{t("Footer.Support")}</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer" href={translatePath('/price')}
                            >{t("Footer.support pricing")}</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="font-medium text-gray-400">{t("Footer.Company")}</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer" href={translatePath('/about')}>{t("Footer.company about")}</a
                        >
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer" href={translatePath('/contact')}
                            >{t("Footer.company contact")}</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="font-medium text-gray-400">{t("Footer.legal")}</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer" href={translatePath('/cookies')}
                            >{t("Footer.legal cookies")}</a
                        >
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer" href={translatePath('/privacy')}>{t("Footer.legal privacy")}</a
                        >
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer" href={translatePath('/terms-&-conditions')}
                            >{t("Footer.legal terms & conditions")}</a
                        >
                    </li>
                    <li class="py-2 text-sm">
                        <a
                            class="cursor-pointer"
                            href="https://forms.gle/KrgwQgLwRjUYA5sq8"
                            target="_blank">{t("Footer.legal book")}</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
