<footer class="w-full bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="max-w-7xl mx-auto py-16 px-4 grid lg:grid-cols-3 gap-8">
        <div>
            {
                /* <h1 className="w-full text-3xl font-bold text-[#00df9a]">FMCAMPS</h1> */
            }
            <div class="w-full text-3xl font-bold text-[#00df9a]">
                <a>FMCAMPS LOGO</a>
            </div>
            <p class="py-4">
                Haga seguimiento de sus servicios On Site en sus instalaciones o
                campamentos remotos y en tiempo real.
            </p>
            <div class="flex justify-between md:w-[75%] my-6">
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    ICON 1
                </a>
                ICON2 ICON3
            </div>
        </div>
        <div
            class="lg:col-span-2 grid lg:grid-cols-3 sm:grid-cols-2 gap-8 mt-6"
        >
            <div class="">
                <h6 class="font-medium text-gray-400">Soporte</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a>Planes</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="font-medium text-gray-400">Compañía</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a>Nosotros</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a>Contacto</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="font-medium text-gray-400">Legal</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a>Política de Cookies</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a>Política de Privacidad</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a>Términos y Condiciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
