---
import { Image } from "astro:assets";
import fmcamps from "../assets/logo_ft.png";
import Linkedln from "../icons/Linkedln.astro";
import Facebook from "../icons/Facebook.astro";
import Github from "../icons/Github.astro";
---

<footer class="w-full bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="max-w-7xl mx-auto py-16 px-4 grid lg:grid-cols-3 gap-8">
        <div>
            <div>
                <Image src={fmcamps} alt="Logo FMCAMPS" />
            </div>
            <p class="py-4">
                Haga seguimiento de sus servicios On Site en sus instalaciones o
                campamentos remotos y en tiempo real.
            </p>
            <div class="flex justify-between md:w-[75%] my-6">
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    <Linkedln
                        class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
                    />
                </a>
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    <Facebook
                        class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
                    />
                </a>
                <a
                    href="https://www.linkedin.com/company/fmcamps/?viewAsMember=true"
                    target="_blank"
                    rel="noreferrer"
                >
                    <Github
                        class="w-6 h-6 cursor-pointer hover:text-gray-400 transition-colors"
                    />
                </a>
            </div>
        </div>
        <div
            class="lg:col-span-2 grid lg:grid-cols-3 sm:grid-cols-2 gap-8 mt-6"
        >
            <div class="">
                <h6 class="font-medium text-gray-400">Soporte</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Planes</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="font-medium text-gray-400">Compañía</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Nosotros</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Contacto</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="font-medium text-gray-400">Legal</h6>
                <ul>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Política de Cookies</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Política de Privacidad</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Términos y Condiciones</a>
                    </li>
                    <li class="py-2 text-sm">
                        <a class="cursor-pointer">Libro de Reclamaciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
