---
import { Image } from "astro:assets";
import image from "../assets/bgheader.jpg";
---

<!-- <div class="w-[1000px] h-screen mx-auto">
    <div class="h-full text-center flex flex-col items-center justify-center gap-y-5">
        <h1 class="text-8xl font-semibold">SaaS para la Gestión de Sitios</h1>
        <h2 class="text-6xl font-semibold">Moderno, personalizable y confiable</h2>
        <p class="text-4xl font-semibold">
            Haga seguimiento de sus servicios On Site en sus instalaciones o
            campamentos remotos y en tiempo real
        </p>
    </div>
</div> -->

<div class="w-full h-screen text-white">
    <div class="w-[1000px] mx-auto flex flex-col justify-center h-full text-center">
        <h1 class="text-8xl font-semibold">SaaS para la Gestión de Sitios</h1>
        <h2 class="text-6xl font-semibold">Moderno, personalizable y confiable</h2>
        <p class="text-4xl font-semibold">
            Haga seguimiento de sus servicios On Site en sus instalaciones o
            campamentos remotos y en tiempo real
        </p>
    </div>
</div>