---
import { getLocalePaths } from "../i18n/utils";

import brasil from "../assets/brasil.png";
import espania from "../assets/ES.png";
import usa from "../assets/US.png";

type FlagMap = {
    br: string;
    es: string;
    en: string;
};

const flags: FlagMap = {
    br: brasil.src, // Portugués -> Brasil
    es: espania.src, // Español -> España
    en: usa.src, // Inglés -> Estados Unidos
};
---

<!-- pasar dinamicamente los lenguajes 
/es => /
/br 
/en

para

href={:/contact}    español
href={:/en/contact} ingles
href={:/br/contact} brazil

-->
<ul class="flex gap-x-3">
    {
        getLocalePaths(Astro.url).map(({ lang, path }) => {
            let banderas = flags[lang as keyof FlagMap];
            // console.log(banderas);

            return (
                <a href={path}>
                    <img src={banderas} alt="" />
                </a>
            );
        })
    }
</ul>
