---
import brasil from "../assets/brasil.png";
import espania from "../assets/ES.png";
import usa from "../assets/US.png";
import fmcamps from "../assets/logo_ftOp.webp";
import LanguagePicker from "./LanguagePicker.astro";

const currentPath = Astro.url.pathname;

import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const urlSeparate = currentPath.split("");
let pathToDirige = "";
let i = 3;

// for (i; i < urlSeparate.length; i++) {
//     console.log(urlSeparate[i]);
//     if(urlSeparate)
//     pathToDirige += urlSeparate[i];
// }

// console.log(pathToDirige);

// console.log(currentPath);
// console.log(pathToDirige);

// console.log(Astro.url);


// HIDE DEFAULT LANGUAGE "/ES" FROM URL
const translatePath = useTranslatedPath(lang);
---

<div
    class={currentPath == "/" || "/br" || "/en"
        ? "fixed px-4 w-full flex mx-auto justify-between"
        : "fixed px-4 w-full flex mx-auto justify-between bg-gray-900 text-white"}
>
    <a href={translatePath("/")} aria-label="Go to homepage" data-astro>
        <img
            src={fmcamps.src}
            alt="logo fmcamps"
            decoding="async"
            loading="lazy"
            width="310"
            height="95"
            class="cursor-pointer"
        />
    </a>
    <div class="flex gap-x-10 items-center">
        <a href={translatePath("/")} data-astro>
            <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
                ></path>
            </svg>
        </a>

        <a href={translatePath("/about/")} data-astro>
            {t("nav.about")}
        </a>
        <a href={translatePath("/product/")} data-astro>
            {t("nav.product")}
        </a>
        <a href={translatePath("/price/")} data-astro>
            {t("nav.pricing")}
        </a>
        <a href={translatePath("/contact/")} data-astro>
            {t("nav.contact")}
        </a>

        <div class="flex gap-x-3 items-center">
            <LanguagePicker />
            <!-- <a href={`/`}>
                <img
                    src={espania.src}
                    alt="cambiar idioma españa"
                    decoding="async"
                    loading="lazy"
                    width="23"
                    height="17"
                    class="cursor-pointer"
                />
            </a>
            <a href={`/en`}>
                <img
                    src={usa.src}
                    alt="cambiar idioam ingles"
                    decoding="async"
                    loading="lazy"
                    width="23"
                    height="17"
                    class="cursor-pointer"
                />
            </a>

            <a href={`/br`}>
                <img
                    src={brasil.src}
                    alt="cambiar idioam brasil"
                    decoding="async"
                    loading="lazy"
                    width="23"
                    height="17"
                    class="cursor-pointer"
                />
            </a> -->
        </div>
    </div>
</div>