---
import fmcamps from "../assets/logo_ftOp.webp";
import LanguagePicker from "./LanguagePicker.astro";

import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// HIDE DEFAULT LANGUAGE "/ES" FROM URL
const translatePath = useTranslatedPath(lang);

const url = new URL(Astro.request.url);
const path = url.pathname;
---

<div
    class={path === "/" || path === "/en/" || path === "/br/"
        ? "navbar bg-transparent fixed px-4 w-full flex mx-auto justify-between "
        : "navbar bg-white dark:bg-gray-900 dark:text-gray-100 drop-shadow-md dark:shadow-[0_4px_3px_-5px_rgba(255,255,255,0.7)] fixed px-4 w-full flex mx-auto justify-between "}
>
    <a href={translatePath("/")} aria-label="Go to homepage" data-astro>
        <img
            src={fmcamps.src}
            alt="logo fmcamps"
            decoding="async"
            loading="lazy"
            width="310"
            height="95"
            class="cursor-pointer"
        />
    </a>
    <div class="flex gap-x-10 items-center">
        <a href={translatePath("/")} data-astro>
            <svg
                class="w-6 h-6 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
                ></path>
            </svg>
        </a>

        <a href={translatePath("/about/")} data-astro>
            {t("nav.about")}
        </a>
        <a href={translatePath("/product/")} data-astro>
            {t("nav.product")}
        </a>
        <a href={translatePath("/price/")} data-astro>
            {t("nav.pricing")}
        </a>
        <a href={translatePath("/contact/")} data-astro>
            {t("nav.contact")}
        </a>

        <div class="flex gap-x-3 items-center">
            <LanguagePicker />
        </div>
    </div>
</div>
