---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="cookies">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">
            &Uacute;ltima actualizaci&oacute;n: 16 de mayo de 2022
        </p>
        <p class="justify">&nbsp;</p>
        <h2>POL&Iacute;TICA DE COOKIES DE &ldquo;FMCAMPS&rdquo;</h2>
        <p class="justify">
            A continuaci&oacute;n, encontrar&aacute; la Pol&iacute;tica de
            Cookies del Sitio web <a href="https://www.fmcamps.com"
                >www.fmcamps.com</a
            > (en adelante, la &ldquo;<u>Plataforma</u>&rdquo;), la cual, en
            concordancia con la Pol&iacute;tica de Privacidad y los
            T&eacute;rminos y Condiciones, forman un contrato entre <strong
                >FMCAMPS S.A.C.</strong
            >, con RUC N&deg; 20608949225 (en adelante, &ldquo;<u>FMCAMPS</u
            >&rdquo;) con el cliente y/o usuario (en adelante, el &ldquo;<u
                >Usuario</u
            >
            &rdquo;).
        </p>

        <ol>
            <li>
                <strong>
                    &iquest;Qu&eacute; son las cookies y por qu&eacute; las
                    usamos?
                </strong>
            </li>
        </ol>

        <p class="justify">
            Las cookies son archivos de texto o medios locales de
            almacenamiento, que las aplicaciones o los sitios web que visita
            colocan en su ordenador. Las cookies se usan para ayudarnos a
            mejorar su experiencia cuando usa nuestra Plataforma.
        </p>

        <p class="justify">
            La informaci&oacute;n que recabamos de las cookies sirve para:
        </p>

        <ul>
            <li>Ayudar a nuestra Plataforma a recordar tus preferencias.</li>
            <li>
                Ayudar a mejorar la funcionalidad de b&uacute;squeda de
                informaci&oacute;n.
            </li>
            <li>Ayudar a supervisar el rendimiento de nuestra Plataforma.</li>
        </ul>
        <p class="justify">
            La Plataforma no utiliza cookies para identificarle personalmente.
        </p>

        <ol start="2">
            <li>
                <strong>Aceptaci&oacute;n del uso de cookies</strong>
            </li>
        </ol>

        <p class="justify">
            Si navegas por nuestra Plataforma, estar&aacute;s aceptando el uso
            de las cookies en las condiciones establecidas en la presente
            Pol&iacute;tica de cookies. Esta pol&iacute;tica puede ser
            actualizada, por lo que te invitamos a revisarla de forma regular.
        </p>

        <ol start="3">
            <li>
                <strong>Administraci&oacute;n de cookies</strong>
            </li>
        </ol>

        <p class="justify">
            Los navegadores m&aacute;s populares tienen opciones de
            configuraci&oacute;n y funcionalidades de seguridad que te permiten
            evitar la instalaci&oacute;n de cookies y/o de otros sistemas de
            recogida de datos de navegaci&oacute;n en tu dispositivo. Puedes
            configurar tu navegador para que rechace las cookies, pero esto
            podr&iacute;a bloquear determinadas funcionalidades o limitar el
            acceso a algunos contenidos de nuestra web.
        </p>

        <p class="justify">
            Puedes consultar los pasos para deshabilitar la instalaci&oacute;n
            de cookies en las secciones de &quot;Ayuda&quot; de las
            p&aacute;ginas web de cada navegador. Por ejemplo, para bloquear
            cookies en Chrome se realizar&aacute; el siguiente procedimiento:
            Configuraci&oacute;n -&gt; Privacidad y seguridad -&gt; Cookies y
            otros datos del sitio-&gt; Bloquear cookies.
        </p>

        <ol start="4">
            <li>
                <strong>Tipos de cookies que utilizamos</strong>
            </li>
        </ol>

        <p class="justify">La Plataforma utiliza las siguientes cookies:</p>

        <p class="justify">
            <strong>Cookies propias:</strong>
        </p>
        <ul>
            <li>
                Cookies de sesi&oacute;n: Son un tipo de cookies
                dise&ntilde;adas para recabar y almacenar datos mientras el
                usuario accede a un sitio web, as&iacute; como dar seguimiento
                de actividades en la Plataforma y datos de navegaci&oacute;n. Su
                experiencia en la Plataforma se adaptar&aacute; de acuerdo con
                los algoritmos y los datos que se recopilar&aacute;n.
            </li>
            <li>
                Cookies t&eacute;cnicas y funcionales: Son estrictamente
                necesarias para navegar por <a href="https://www.fmcamps.com"
                    >www.fmcamps.com</a
                >{" "}
                y utilizar sus diferentes opciones o servicios.
            </li>
        </ul>

        <p class="justify">
            <strong>Cookies de terceros:</strong>
        </p>
        <ul>
            <li>
                Cookies de an&aacute;lisis: Sirven para analizar los
                h&aacute;bitos de navegaci&oacute;n de los Usuarios, con el
                objetivo de optimizar las funcionalidades y el mantenimiento
                t&eacute;cnico y operativo de la Plataforma y garantizar el
                mejor servicio posible.
            </li>
        </ul>

        <p class="justify">
            Finalmente, indicamos que en el supuesto en donde un Usuario bloquee
            las cookies de su navegador, s&iacute; podr&aacute; seguir navegando
            por la Plataforma, pero es posible que algunos servicios no se
            encuentren disponibles, vi&eacute;ndose limitada la experiencia de
            navegaci&oacute;n.
        </p>
    </article>
</Layout>
