---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="privacy">
    <article
        class="bg-white dark:bg-gray-900 legal container px-5 md:px-10 xl:px-20 py-20 prose dark:prose-invert mx-auto lg:prose-lg max-w-7xl prose-p prose-ol prose-li prose-h2 prose-strong prose-a:text-cyan-500 hover:prose-a:text-cyan-400"
    >
        <p class="justify pt-10">
            &Uacute;ltima actualizaci&oacute;n: 16 de mayo de 2022
        </p>
        <p class="justify">&nbsp;</p>
        <h2>POL&Iacute;TICA DE PRIVACIDAD DE &ldquo;FMCAMPS&rdquo;</h2>
        <ol>
            <li>
                <strong> Introducci&oacute;n</strong>
            </li>
        </ol>
        <p class="justify">
            A continuaci&oacute;n, encontrar&aacute; la Pol&iacute;tica de
            Privacidad del Sitio web{" "}
            <a href="https://www.fmcamps.com">www.fmcamps.com</a> (en adelante, la
            &ldquo;<u>Plataforma</u>&rdquo;) el que, en concordancia con los
            T&eacute;rminos y Condiciones y Pol&iacute;tica de Cookies, forman
            un contrato entre <strong>FMCAMPS S.A.C.</strong>, con RUC N&deg;
            20608949225 (en adelante, &ldquo;<u>FMCAMPS</u>&rdquo;) con el
            cliente y/o usuario (en adelante, el &ldquo;<u>Usuario</u>&rdquo;).
        </p>

        <p class="justify">
            FMCAMPS asegura la m&aacute;xima reserva y protecci&oacute;n de
            aquellos datos de car&aacute;cter personal que los Usuarios, con la
            finalidad de hacer uso de los servicios, nos proporcionen mediante
            el uso de la Plataforma.
        </p>

        <ol start="2">
            <li>
                <strong> Objetivo y finalidad</strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS es consciente de la elevada importancia que tiene la
            privacidad de nuestros Usuarios y de todas aquellas personas que se
            interesan por los servicios y productos ofrecidos.
        </p>

        <p class="justify">
            Siendo consecuentes con esta consideraci&oacute;n, tenemos el
            compromiso de respetar su privacidad y proteger la confidencialidad
            de su informaci&oacute;n privada y datos personales. Por tal motivo,
            mediante la presente Pol&iacute;tica de Privacidad, damos a conocer
            a nuestros Usuarios, la finalidad y la manera en que se recogen,
            tratan y se protegen los datos personales brindados a FMCAMPS.
        </p>

        <p class="justify">
            La informaci&oacute;n personal privada no incluye informaci&oacute;n
            que est&aacute; disponible a trav&eacute;s de fuentes accesibles al
            p&uacute;blico. Se entiende por tales los medios de
            comunicaci&oacute;n electr&oacute;nica, &oacute;ptica y de otra
            tecnolog&iacute;a concebidos para facilitar informaci&oacute;n al
            p&uacute;blico y abiertos a la consulta general, las gu&iacute;as
            telef&oacute;nicas, los diarios y revistas, los medios de
            comunicaci&oacute;n social, las listas profesionales, los
            repertorios de jurisprudencia anonimizados, los Registros
            P&uacute;blicos administrados por la Superintendencia Nacional de
            Registros P&uacute;blicos as&iacute; como todo otro registro o banco
            de datos calificado como p&uacute;blico conforme a ley, las
            entidades de la Administraci&oacute;n P&uacute;blica en
            relaci&oacute;n a la informaci&oacute;n que deba ser entregada en
            aplicaci&oacute;n de la Ley N&ordm; 27806, Ley de Transparencia y
            Acceso a la Informaci&oacute;n P&uacute;blica.
        </p>

        <ol start="3">
            <li>
                <strong> Legislaci&oacute;n</strong>
            </li>
        </ol>

        <p class="justify">
            De acuerdo con la Ley N&deg; 29733 &ndash; Ley de Protecci&oacute;n
            de Datos Personales (en adelante, la &ldquo;Ley&rdquo;) y su
            Reglamento, aprobado por el Decreto Supremo No. 003-2013-JUS, se
            entiende por datos personales toda informaci&oacute;n sobre una
            persona natural que la identifica o hace identificable a
            trav&eacute;s de medios que pueden ser razonablemente utilizados.
        </p>

        <p class="justify">
            Por otro lado, por tratamiento de datos personales se entiende como
            cualquier operaci&oacute;n o procedimiento t&eacute;cnico,
            automatizado o no, que permite la recopilaci&oacute;n, registro,
            organizaci&oacute;n, almacenamiento, conservaci&oacute;n,
            elaboraci&oacute;n, modificaci&oacute;n, extracci&oacute;n,
            consulta, utilizaci&oacute;n, bloqueo, supresi&oacute;n,
            comunicaci&oacute;n por transferencia o por difusi&oacute;n o
            cualquier otra forma de procesamiento que facilite el acceso,
            correlaci&oacute;n o interconexi&oacute;n de los datos personales.
        </p>

        <p class="justify">
            FMCAMPS desarrolla su pol&iacute;tica de tratamiento de datos
            personales en atenci&oacute;n a los principios rectores establecidos
            en la Ley mencionados a continuaci&oacute;n:
        </p>
        <ol>
            <li>
                Principio de legalidad: se rechaza la recopilaci&oacute;n de los
                datos personales de nuestros usuarios por medios fraudulentos,
                desleales o il&iacute;citos.
            </li>
            <li>
                Principio de consentimiento: en el tratamiento de los datos
                personales de nuestros usuarios mediar&aacute; su
                consentimiento.
            </li>
            <li>
                Principio de finalidad: Los datos personales de nuestros
                usuarios se recopilar&aacute;n para una finalidad determinada,
                expl&iacute;cita y l&iacute;cita, y no se extender&aacute; a
                otra finalidad que no haya sido la establecida de manera
                inequ&iacute;voca como tal al momento de su recopilaci&oacute;n.
            </li>
            <li>
                Principio de proporcionalidad: todo tratamiento de datos
                personales de nuestros usuarios ser&aacute; adecuado, relevante
                y no excesivo a la finalidad para la que estos hubiesen sido
                recopilados.
            </li>
            <li>
                Principio de calidad: Los datos personales ser&aacute;n veraces,
                exactos y, en lo posible, actualizados, necesarios, pertinentes
                y adecuados respecto de la finalidad para la que fueron
                recopilados.
            </li>
            <li>
                Principio de seguridad: se conservar&aacute;n de forma tal que
                se garantice su seguridad y solo por el tiempo necesario para
                cumplir con la finalidad del tratamiento.
            </li>
        </ol>
        <p class="justify">
            FMCAMPS y, en su caso, los encargados de tratamiento cuentan con las
            medidas de seguridad apropiadas y acordes con el tratamiento que se
            vaya a efectuar, adem&aacute;s de la adopci&oacute;n de medidas
            t&eacute;cnicas, organizativas y legales necesarias para garantizar
            confidencialidad de los datos personales.
        </p>

        <ol start="4">
            <li>
                <strong> Informaci&oacute;n sobre datos personales </strong>
            </li>
        </ol>

        <p class="justify">
            El Usuario queda informado y autoriza libre y voluntariamente a
            FMCAMPS para recolectar, almacenar, conservar, acceder, usar,
            suprimir o actualizar sus datos personales para sus actividades en
            el Per&uacute;. En ese sentido, los datos personales a los que
            FMCAMPS tenga acceso como consecuencia de los servicios que brinda o
            mediante el llenado de diferentes formularios, se
            incorporar&aacute;n al correspondiente &ldquo;Banco de Datos
            Personales&rdquo;, conformando el conjunto organizado de datos
            personales de usuarios, creado por FMCAMPS e inscrito en el Registro
            Nacional de Protecci&oacute;n de Datos Personales.
        </p>

        <p class="justify">
            Los datos personales facilitados por los usuarios ser&aacute;n
            tratados con total confidencialidad y s&oacute;lo podr&aacute;n ser
            conocidos y manejados por el personal de FMCAMPS que necesite
            conocer dicha informaci&oacute;n para brindar los servicios
            ofrecidos. FMCAMPS se compromete a guardar secreto profesional
            respecto de los mismos y garantiza el deber de guardarlos adoptando
            todas las medidas de seguridad necesarias. No ser&aacute; necesaria
            la autorizaci&oacute;n cuando los datos personales sean necesarios
            para la ejecuci&oacute;n de una relaci&oacute;n contractual en la
            que el titular de datos personales sea parte.
        </p>

        <p class="justify">
            Si los datos registrados resultaran inexactos, en todo o en parte, o
            incompletos, FMCAMPS podr&aacute; actualizarlos y/o sustituirlos por
            los correspondientes datos rectificados o completados.
        </p>

        <p class="justify">
            Los datos personales solicitados a los usuarios, son datos
            b&aacute;sicos de contacto y son adecuados, pertinentes y no
            excesivos en relaci&oacute;n con la finalidad para los que se
            recogen.
        </p>

        <ol start="5">
            <li>
                <strong>
                    Finalidad del tratamiento de los datos personales
                </strong>
            </li>
        </ol>

        <p class="justify">
            Todos los datos recogidos ser&aacute;n utilizados por FMCAMPS para:
        </p>

        <p class="justify">
            Prestar adecuadamente la gesti&oacute;n de servicios On Site con
            m&oacute;dulos enfocados al mantenimiento de campamentos mineros y
            equipos -pero no limitado a ello- a trav&eacute;s del uso del
            software denominado &ldquo;FMCAMPS&rdquo;. Asimismo, los datos
            personales ser&aacute;n utilizados para realizar un
            diagn&oacute;stico y correcci&oacute;n de los Servicios y otras
            ofertas de la Compa&ntilde;&iacute;a
        </p>

        <p class="justify">
            En ese sentido, los datos personales que se solicitan para la
            prestaci&oacute;n de los servicios descritos en el p&aacute;rrafo
            inmediato anterior son:
        </p>

        <ul>
            <li>Nombres y apellidos,</li>
            <li>N.I./C.E./Pasaporte,</li>
            <li>U.C.,</li>
            <li>Fecha de nacimiento,</li>
            <li>Sexo,</li>
            <li>Edad,</li>
            <li>Direcci&oacute;n (domicilio),</li>
            <li>Tel&eacute;fono de contacto,</li>
            <li>Direcci&oacute;n de correo electr&oacute;nico personal,</li>
            <li>Direcci&oacute;n de correo electr&oacute;nico laboral,</li>
            <li>Imagen (fotograf&iacute;a del rostro),</li>
            <li>Cargo (responsabilidad),</li>
            <li>Especialidad de trabajo,</li>
            <li>Empresa</li>
            <li>Costo de hora hombre,</li>
            <li>Centro de costo,</li>
            <li>&Aacute;rea de trabajo,</li>
            <li>Tallas de vestimenta y zapatos,</li>
            <li>Capacitaciones,</li>
            <li>Vigencia de pase m&eacute;dico.</li>
        </ul>

        <p class="justify">
            Los datos personales ser&aacute;n cancelados cuando hayan dejado de
            ser necesarios para las finalidades para las cuales han sido
            recogidos. Sin embargo, se conservar&aacute;n durante el tiempo en
            que pueda exigirse alg&uacute;n tipo de responsabilidad a FMCAMPS
            derivada de esta relaci&oacute;n con los usuarios. No se
            considerar&aacute; incompatible el tratamiento posterior con fines
            hist&oacute;ricos, estad&iacute;sticos o cient&iacute;ficos.
        </p>

        <ol start="6">
            <li>
                <strong> Libro de reclamaciones</strong>
            </li>
        </ol>

        <p class="justify">
            Asimismo, el Usuario autoriza expresamente a FMCAMPS a que cuando
            haga uso del libro de reclamaciones, sus datos sean tratados con la
            finalidad de atender las necesidades propias de dicho
            procedimiento,&nbsp; as&iacute; como para, una vez culminado el
            procedimiento de atenci&oacute;n del reclamo, pueda atender las
            necesidades derivadas de cualquier proceso o procedimiento judicial,
            administrativo o arbitral que a futuro se derive o surja en
            relaci&oacute;n con el reclamo que el usuario haya presentado,
            atender cualquier fiscalizaci&oacute;n de la autoridad competente en
            materia de tratamiento de datos personales.
        </p>

        <p class="justify">
            Los datos recopilados a trav&eacute;s del libro de reclamaciones se
            almacenar&aacute;n en el banco de datos &ldquo;Libro de
            reclamaciones&rdquo; de titularidad de FMCAMPS.
        </p>

        <p class="justify">
            Como consecuencia de las finalidades descritas, el plazo de
            almacenamiento de los datos ser&aacute; de forma indefinida. Para
            todo efecto, se entender&aacute; que este plazo m&aacute;ximo de
            almacenamiento y de tratamiento de los datos personales es un
            derecho de FMCAMPS y no una obligaci&oacute;n, por lo que FMCAMPS
            podr&aacute; optar por almacenarlos y/o tratarlos por plazos
            menores. Esto no perjudica en absoluto los derechos de los usuarios
            para revocar el consentimiento de sus datos personales en cualquier
            momento, conforme la Ley se lo permite y FMCAMPS lo detalla en la
            presente Pol&iacute;tica de Privacidad.
        </p>

        <ol start="7">
            <li>
                <strong> Seguridad de los datos personales </strong>
            </li>
        </ol>

        <p class="justify">
            En cumplimiento de la normativa vigente, la Directiva de Seguridad
            de la Informaci&oacute;n aprobada por la Resoluci&oacute;n
            Directoral No. 019-2013-JUS/DGPDP de la Autoridad Nacional de
            Protecci&oacute;n de Datos Personales, FMCAMPS ha adoptado las
            medidas t&eacute;cnicas y organizativas de seguridad y
            confidencialidad apropiadas a la categor&iacute;a de los datos
            personales, necesarias para mantener el nivel de seguridad
            requerido, con el objetivo de evitar en la medida de lo posible la
            alteraci&oacute;n, p&eacute;rdida o el tratamiento o acceso no
            autorizado que puedan afectar afecten a la integridad,
            confidencialidad y disponibilidad de la informaci&oacute;n.
        </p>

        <p class="justify">
            Sin embargo, la transmisi&oacute;n de informaci&oacute;n mediante
            las redes de comunicaci&oacute;n y de Internet no es totalmente
            segura; por eso, y a pesar de que FMCAMPS realizar&aacute; sus
            mejores esfuerzos para proteger los datos personales, no
            podr&aacute; garantizar la seguridad de los mismos durante el
            tr&aacute;nsito hasta la Plataforma. Toda la informaci&oacute;n que
            los usuarios de Internet faciliten por este medio, se enviar&aacute;
            por su cuenta y riesgo.
        </p>

        <ol start="8">
            <li>
                <strong>
                    {" "}
                    Ejercicio de los Derechos de Acceso, Rectificaci&oacute;n, Cancelaci&oacute;n
                    y Oposici&oacute;n
                </strong>
            </li>
        </ol>

        <p class="justify">
            Los Usuarios que hayan facilitado datos personales a FMCAMPS pueden
            dirigirse a esta, con el fin de poder ejercer sus derechos de
            informaci&oacute;n, de acceso, de actualizaci&oacute;n,
            inclusi&oacute;n, rectificaci&oacute;n y supresi&oacute;n, de
            impedir el suministro de sus datos personales, de oposici&oacute;n
            al tratamiento o de tratamiento objetivo de los datos, en los
            t&eacute;rminos recogidos en la legislaci&oacute;n vigente. Dichos
            derechos s&oacute;lo podr&aacute;n ser ejercidos por el titular de
            los datos personales o su apoderado, de conformidad con la ley.
        </p>

        <p class="justify">
            Para poder ejercer estos derechos, los usuarios deber&aacute;n
            dirigirse a la siguiente direcci&oacute;n de correo
            electr&oacute;nico soporte@fmcamps.com, con la referencia
            &ldquo;Protecci&oacute;n de Datos Personales&rdquo;, especificando
            sus datos, acreditando su identidad y los motivos de su solicitud.
            Quien suscribe la solicitud deber&aacute; anexar copia simple de los
            documentos que acrediten la identidad del titular (Documento
            Nacional de Identidad o documento equivalente) o en su caso, la del
            apoderado, as&iacute; como copia simple del poder otorgado por
            v&iacute;a notarial cuando corresponda.
        </p>

        <p class="justify">
            Asimismo, FMCAMPS informa a sus usuarios la existencia de la
            v&iacute;a administrativa para hacer valer sus derechos a ejercitar
            ante la Autoridad Nacional de Protecci&oacute;n de Datos o
            jurisdiccionales ante el Poder Judicial a los efectos de la
            correspondiente acci&oacute;n de habeas data.
        </p>

        <ol start="9">
            <li>
                <strong>
                    {" "}
                    Transferencia de datos personales a nivel internacional{" "}
                </strong>
            </li>
        </ol>

        <p class="justify">
            FMCAMPS utiliza servidores de terceros para el almacenamiento de
            bancos de datos por medios tecnol&oacute;gicos, por lo que se
            realizar&aacute; flujo transfronterizo con la empresa Amazon Web
            Services Inc., identificada con E.I.N. N&deg; 204938068, empresa
            prestadora de servicios de alojamiento web ubicada en el pa&iacute;s
            de los Estados Unidos de Am&eacute;rica, tal y como se indica en los
            respectivos registros de bancos de datos personales.
        </p>

        <p class="justify">
            Estos datos personales tambi&eacute;n pueden ser comunicados a las
            entidades administrativas, autoridades judiciales y/o policiales,
            siempre y cuando est&eacute; establecido por Ley.
        </p>
        <ol start="10">
            <li>
                <strong> Otros</strong>
            </li>
        </ol>
        <p class="justify">
            En tanto se trata de una herramienta de tipo virtual, que no permite
            el trato f&iacute;sico directo entre FMCAMPS y el titular de los
            datos personales, FMCAMPS recopilar&aacute; y tratar&aacute; los
            datos personales partiendo de la presunci&oacute;n de buena fe de
            que quien los facilita es mayor de edad ante la ley, es h&aacute;bil
            en el idioma espa&ntilde;ol, se encuentra en pleno uso de sus
            facultades mentales, ostenta plena capacidad civil y es titular de
            los datos personales o act&uacute;a en calidad de representante del
            titular de los datos que facilita, en caso de que sean de
            titularidad de terceros.
        </p>

        <p class="justify">
            Para realizar cualquier tipo de consulta respecto a esta
            Pol&iacute;tica de Privacidad puede dirigirse a la siguiente
            direcci&oacute;n de correo electr&oacute;nico:{" "}
            <a href="mailto:soporte@fmcamps.com">soporte@fmcamps.com</a>
        </p>

        <ol start="11">
            <li>
                <strong>
                    {" "}
                    Vigencia y modificaci&oacute;n de la presente Pol&iacute;tica
                    de Protecci&oacute;n de Datos Personales{" "}
                </strong>
            </li>
        </ol>

        <p class="justify">
            La Pol&iacute;tica de Protecci&oacute;n de datos personales de
            FMCAMPS es actualizada constantemente, por lo que FMCAMPS se reserva
            el derecho a modificar su pol&iacute;tica en el supuesto de que
            exista un cambio en la legislaci&oacute;n vigente, doctrinal,
            jurisprudencial o por criterios propios empresariales. Si se
            introdujera alg&uacute;n cambio en esta pol&iacute;tica, el nuevo
            texto se publicar&aacute; en este mismo Sitio Web.
        </p>

        <p class="justify">
            Se recomienda a todos los usuarios que accedan peri&oacute;dicamente
            a esta Pol&iacute;tica de Privacidad que encontrar&aacute;n en la
            p&aacute;gina web{" "}
            <a href="https://www.fmcamps.com/es/privacy">
                www.fmcamps.com/es/privacy.
            </a>
        </p>
    </article>
</Layout>
